@tailwind base;
@layer base {
  p {
    @apply text-base antialiased font-normal leading-6 tracking-wider my-6;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-lg uppercase;
  }
  h3 {
    @apply text-lg uppercase;
  }
  h4 {
    @apply text-6xl;
  }
  h5 {
    @apply text-7xl uppercase;
  }
  h6 {
    @apply text-base font-bold;
  }
}

@tailwind components;
a {
  color: #ED1C24;
  font-weight: 500;
}
a:hover {
  color: #2B2B2B;
}
/* global */
html {
height: 100%;
}
body {
margin: 0 auto;
width: 100%;
height: 100vh;
max-width: 1200px;
background-color: var(--b);
font-family: 'Roboto', sans-serif;
background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23343434' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
* {
  box-sizing: border-box;
}
/* Colour set */
:root {
--r: #ED1C24; /* Red */
--b: black; /* Black */
--w: white; /* White */
--lg: #8E8E8E; /* Light Grey */
--dg: #2B2B2B; /* Dark Grey */
}
  /* AT styles */
.news-cols {
  column-count: 2; /* Specifies the number of columns */
  column-gap: 30px; /* Sets the gap between columns */
}
.news-cols p {
  margin:0px;
  margin-bottom:16px;
  font-smooth: antialiased; /* Enable font smoothing */
}
.thin-text {
font-size: 2rem;
font-weight: 100;
letter-spacing: 0.1rem;
color: var(--dg);
}
.next-page {
display:inline;
font-size:0.8rem;
font-weight: 500;
text-transform: uppercase;
transform: rotate(90deg);
vertical-align: baseline;
letter-spacing: 0.2rem;
color: var(--r);
transform-origin: left center; /* or 50% 50% */
line-height: 1.2; /* Adjust as needed */
}

.v-copy {
display:inline;
font-size:0.8rem;
text-transform: uppercase;
transform: rotate(180deg);
vertical-align: baseline;
writing-mode: vertical-lr;
letter-spacing: 0.1em;
}
.v-copy2 {
  display: inline;
  font-size: 0.8rem;
  text-transform: uppercase;
  transform: rotate(90deg);
  letter-spacing: 0.1em;
  color: var(--r);
}
.v-copy3 {
  display: inline;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--w);
  transform: rotate(90deg);
}
.v-copy4 {
  display: inline;
  font-size: 0.8rem;
  text-transform: uppercase;
  writing-mode: vertical-lr; /* Update the writing-mode property */
  letter-spacing: 0.2em;
  color: var(--w);
}
.v-copy5 {
  display: inline;
  font-size: 0.8rem;
  text-transform: uppercase;
  writing-mode: vertical-lr; /* Update the writing-mode property */
  letter-spacing: 0.2em;
  color: var(--lg);
}
.v-copy-q {
  display:inline;
  font-size:8rem;
  text-transform: uppercase;
  transform: rotate(180deg);
  vertical-align: baseline;
  writing-mode: vertical-lr;
  transform-origin:81.5%; /* or 50% 50% */
  }
.v-copy-ans {
  display:inline;
  text-transform: uppercase;
  transform: rotate(180deg);
  vertical-align: baseline;
  writing-mode: vertical-lr;
  letter-spacing: 0.1em;
  transform-origin:530%; /* or 50% 50% */
  }
.v-copy-sup{
display:inline;
font-size:0.9rem;
font-weight: 400;
text-transform: uppercase;
transform: rotate(90deg);
vertical-align: baseline;
letter-spacing: 0.06rem;
transform-origin: 155% 85%; /* or 50% 50% */
line-height: 1.2; /* Adjust as needed */
}

.v-header {
  font-weight:normal;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--r);
  margin:-1.25em 50%;
  display:inline-block;
  /*transform: translate(50%, 0);*/
  writing-mode: vertical-lr;
}

.v-header::after {
  display:inline-block;
  position:relative;
  content: '🡒';
  left:0.05em;
  margin:1em 0 1em 0;
  font-size:2em;
}

/* styles.css or within your <style> tag */

@keyframes moveLeft {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(-20px) rotate(-10deg);
  }
  100% {
    transform: translateX(-20px) rotate(-10deg);
  }
}

.my-element {
  transition: transform 0.5s ease; /* Add a transition for a smoother effect */
}

.my-element:hover {
  animation: moveLeft 1s infinite;
}

/* ... style your elements with the appropriate font variants ... */

.expanded {
  display: unset;
}

@media screen and (max-width: 768px) {
  /* Styles for smaller screens if needed */
.v-copy {
  display:inline;
  font-size:0.6rem;
  font-weight:600;
  text-transform: uppercase;
  transform: rotate(180deg);
  vertical-align: baseline;
  writing-mode: vertical-lr;
  letter-spacing: 0.2em;
  }
}

.at-steps > nav {
  display:block;
}
.at-steps > nav > span {
  background: black;
  border-radius: 50%;
  color: #959595;
  cursor: pointer;
  display:inline-block;
  font-size:1.5em;
  font-weight:bold;
  line-height:1.75em;
  text-align:center;
  vertical-align: middle;

  width:1.75em;
  height:1.75em;
}
.at-steps > nav > span.at-active ~ span {
  color: black;
  background: #959595;
}

.at-steps > nav > span.at-active ~ hr {
  background-color:white;
}

.at-steps > nav > hr {
  background:red;
  border:none;
  box-sizing:border-box;
  display: inline-block;
  width:3em;
  height:0.6px;
  vertical-align: middle;
}

.at-steps > .at-step {
  max-height: 0;
  overflow:hidden;
}

.at-steps > .at-step.at-step-active {
  display:block;
  max-height:20em;
  height:20em;
}

.at-steps > .at-step .at-invalid {
  background: rgba(43, 0, 0, 0.5);
  transition: background-color 0.5s;
}

/* Styles for the estimate box */
.at-bg {
  width: calc(100% - 4px);
  /* height: 440px;
  backdrop-filter: blur(24px);
  outline: 2px solid white;
  */
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 350px;
  border-radius: 50%;
  background-color: var( --r);
  opacity: 1;
  filter: blur(50px);
  animation: blob-bounce 3s infinite ease;
}

#at-tabs-1 > div { transition: width 1s; }
#at-tabs-1 + div > div { transition: background-color 1s linear; }
#at-tabs-1[data-active-tab="0"] + div > div:nth-child(2) { background-color: red; }
#at-tabs-1[data-active-tab="1"] + div > div:nth-child(3) { background-color: red; }
#at-tabs-1[data-active-tab="2"] + div > div:nth-child(4) { background-color: red; }

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

@tailwind utilities;
