/* Global colour set */
:root {
  --r: #ED1C24; /* Red */
  --b: black; /* Black */
  --w: white; /* White */
  --lg: #8E8E8E; /* Light Grey */
  --dg: #2B2B2B; /* Dark Grey */
}

html {
    font-family: Roboto;
    font-size: 16px;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
    color: var(--b);
  }
  p, h2 {
    color: var(--b);
  }
  .content-wrapper {
    background-color: var( --w);
  }
  /* nav styles */
  nav {
    display: flex;
    flex-wrap: nowrap; /* Prevent elements from wrapping to multiple lines */
    justify-content: space-between; /* Evenly distribute elements with spacing */
    /* Optional: align-items: center; /* Vertically center elements within the row */
    align-items: flex-end; /* Align items to the bottom */
  }
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 3px;
    background-color: var(--r);
  }
  
  .nav-links a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: text-decoration 0.2s ease-in-out;
    border-bottom: 1px solid  var(--b); /* Add red underline */
  }
  
  .nav-links a:hover,
  .nav-links a:focus {
    text-decoration: none; /* Remove default underline */
    line-height: 1.5; /* Increase line-height to create space */
    border-bottom: 1px solid  var(--r); /* Add red underline */
  }
  
  .nav-links a:active {
    color: var(--r); /* Set text color to red */
    font-weight: bold; /* Make text bold */
    text-decoration: none; /* Remove default underline */
    border-bottom: 1px solid var(--r); /* Add red underline */
  }
  
  .expanded {
    display: unset;
  }
  
  @media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 0px 20px;
    }
  
    .hamburger {
        display: none;
      }
  }
  html.dark {
    background-color: var(--b);
    color: var(--w);
  }
  
  .dark .nav-links a {
    color: var(--w);
  }
  .dark .nav-links a:active {
    color: var(--r); /* Set text color to red */
    font-weight: bold; /* Make text bold */
    text-decoration: none; /* Remove default underline */
    border-bottom: 1px solid var(--r); /* Add red underline */
  }

    /* AT nav styles */
.logo {
    width: 250px;
    height: 59px;
  }
  .burger {
    width: 30px;
    height: 20px; 
    padding-bottom: 5px;
  }
/* Fonts */
@font-face {
  font-family: 'Roboto';
  src: url('/Roboto-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/Roboto-Italic.woff2') format('woff2');
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/Roboto-Regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/Roboto-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

/* ... style your elements with the appropriate font variants ... */
