  /* more global */
body {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background-color: var(--b);
  font-family: 'Roboto', sans-serif;
}
/* Colour set */
:root {
  --r: #ED1C24; /* Red */
  --b: black; /* Black */
  --w: white; /* White */
  --lg: #8E8E8E; /* Light Grey */
  --dg: #2B2B2B; /* Dark Grey */
}
    /* AT styles */
p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 1.2rem;
}
h1, h2, h3, h4, h5, h6 {
  padding-bottom:1rem;
}
h1, v2 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.02rem;
}
.v2 {
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  color: var(--r);
  text-transform: uppercase; 
}
h2 {
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  text-transform: uppercase; 
}
h3 {
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: -0.05rem;
  text-transform: uppercase; 
}
h4 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 4.5rem;
}
h5 {
  font-size: 7.5rem;
  font-weight: bolder;
  letter-spacing: -0.1rem;
  text-transform: uppercase; 
  color: var(--dg);
}
h6 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}
.thin-text {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
}
.next-page {
  display:inline;
  font-size:0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  transform: rotate(90deg);
  vertical-align: baseline;
  letter-spacing: 0.2rem;
  color: var(--r);
  transform-origin: left center; /* or 50% 50% */
  line-height: 1.2; /* Adjust as needed */
}
.p_btn .s_btn {

}
.tile {

}
.tile2 {

}

.container {
  grid-template-columns: 50px repeat(4, 1fr) 50px;
}

.v-copy {
  display:inline;
  font-size:0.8rem;
  text-transform: uppercase;
  transform: rotate(180deg);
  vertical-align: baseline;
  writing-mode: vertical-lr;
  letter-spacing: 0.1em;
}
.v-copy-sup{
  display:inline;
  font-size:0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  transform: rotate(90deg);
  vertical-align: baseline;
  letter-spacing: 0.06rem;
  transform-origin: 155% 85%; /* or 50% 50% */
  line-height: 1.2; /* Adjust as needed */
}

footer h6 {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: var(--w);
  font-weight:500;
}

footer p {
  padding-bottom: 10px;
  color: var(--b);
  font-size: 1em;
  color: var( --w)
}

/* Fonts */
@font-face {
  font-family: 'Roboto';
  src: url('/Roboto-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/Roboto-Italic.woff2') format('woff2');
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/Roboto-Regular.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/Roboto-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

/* ... style your elements with the appropriate font variants ... */

  /* nav styles */
  nav {
    display: flex;
    flex-wrap: nowrap; /* Prevent elements from wrapping to multiple lines */
    justify-content: space-between; /* Evenly distribute elements with spacing */
    /* Optional: align-items: center; /* Vertically center elements within the row */
    align-items: flex-end; /* Align items to the bottom */
  }
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 3px;
    background-color:var(--r);
  }
  .nav-links {
    width: 100%;
    background-color: var(--lg);
    display: none;
    line-height: 0.1; /* Increase line-height to create space */
  }
  .nav-links a {
    display: block;
    text-decoration: none;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: text-decoration 0.2s ease-in-out;
    border-bottom: 1px solid  var(--b); /* Add red underline */
    color:var(--w);
  }
  
  .nav-links a:hover,
  .nav-links a:focus {
    text-decoration: none; /* Remove default underline */
    line-height: 0; /* Increase line-height to create space */
    border-bottom: 1px solid  var(--r); /* Add red underline */
  }
  
  .nav-links a:active {
    color: var(--r); /* Set text color to red */
    font-weight: bold; /* Make text bold */
    text-decoration: none; /* Remove default underline */
    border-bottom: 1px solid var(--r); /* Add red underline */
  }
  
  .expanded {
    display: unset;
  }
  
  @media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
  
    .hamburger {
      display: none;
    }
  }