---
import BaseLayout from '../layouts/BaseLayout.astro';
import Clients from '../components/Clients.astro';
import GetEstimateBtn from '../components/GetEstimateBtn.astro';
const pageTitle = "Trusted Tarmac Contractor - About Ashford Tarmac";
---

<BaseLayout pageTitle={pageTitle}>
<!-- hero section --> 
<div class="flex bg-black bg-[url('/blk_symb.svg')] bg-bottom bg-right bg-no-repeat">
    <div class="flex items-center justify-center w-12 border-r border-gray-dark border-solid"></div>
    <div class="flex-1 py-24">
	<h1 class="text-white text-4xl font-light md:text-6xl pb-48 w-4/5">Welcome to AT - Your Trusted Tarmac Contractor</h1>
	<div class="flex flex-row gap-14 pr-24">
		<div class="flex-item">
			<h2 class="text-gray uppercase font-bold tracking-wider">a reliable contractor</h2>
			<div class="border-b border-red border-solid py-1"></div>
			<p class="text-white pt-4">We're not just another tarmac company – we're trusted by Domestic clients, Hospitals, Schools and Developers.</p>
		</div>
		<div class="flex-item">
			<h2 class="text-gray uppercase font-bold tracking-wider">with solid foundations</h2>
			<div class="border-b border-red border-solid py-1"></div>
			<p class="text-white pt-4">Since our inception in 1979, our family-run business has been dedicated to client satisfaction, honesty and value for money.</p>
		</div>
		<div class="flex-item">
			<h2 class="text-gray uppercase font-bold tracking-wider">with the knowledge you need</h2>
			<div class="border-b border-red border-solid py-1"></div>
			<p class="text-white pt-4">At Ashford Tarmac, we blend decades of experience with a personal touch to provide you with an exceptional service.</p>
		</div>
	</div>

	</div>
    <div class="flex items-center justify-center w-12 border-l border-gray-dark border-solid"></div>
</div>
</BaseLayout>