---
import BaseLayout from '../layouts/BaseLayout.astro';
import Clients from '../components/Clients.astro';
import GetEstimateBtn from '../components/GetEstimateBtn.astro';
import RedLine from '../components/RedLine.astro';
const pageTitle = "Trusted Tarmac Contractor - About Ashford Tarmac";
---

<BaseLayout pageTitle={pageTitle}>
<!-- hero section --> 
<div class="flex bg-black bg-[url('/blk_symb.svg')] bg-bottom bg-right bg-no-repeat">
    <div class="flex items-center justify-center w-12 border-r border-gray-dark border-solid"></div>
    <div class="flex-1 pt-24">
		<h1 class="text-white text-4xl font-light md:text-6xl pb-48 w-4/5">Welcome to AT - Your Trusted Tarmac Contractor</h1>
		<div class="md:flex md:flex-row md:gap-14 md:pr-24 gap-y-12">
			<div class="flex-item">
				<h2 class="text-gray uppercase font-bold tracking-wider">a reliable contractor</h2>
				<RedLine />
				<p class="text-white">We're not just another tarmac company – we're trusted by Domestic clients, Hospitals, Schools and Developers.</p>
			</div>
			<div class="flex-item pt-12 md:pt-0">
				<h2 class="text-gray uppercase font-bold tracking-wider">with solid foundations</h2>
				<RedLine />
				<p class="text-white">Since our inception in 1979, our family-run business has been dedicated to client satisfaction, honesty and value for money.</p>
			</div>
			<div class="flex-item pt-12 md:pt-0 pb-60">
				<h2 class="text-gray uppercase font-bold tracking-wider">with the knowledge you need</h2>
				<RedLine />
				<p class="text-white">At Ashford Tarmac, we blend decades of experience with a personal touch to provide you with an exceptional service.</p>
			</div>
		</div>
	</div>
    <div class="flex items-center justify-center w-12 border-l border-gray-dark border-solid"></div>
</div>
<!-- Your tarmac partner -->
<div class="flex bg-white">
    <div class="border-r border-gray-light border-solid w-12">
		<div class="flex flex-col justify-evenly h-full pt-24">
			<img src="/lc-grey.svg" class="md:w-[6rem] w-[3rem] h-auto transform -rotate-90" alt="">
			<img src="/abc-grey.svg" class="md:w-[6rem] w-[3rem] h-auto transform -rotate-90" alt="">
			<img src="/nt-grey.svg" class="md:w-[6rem] w-[3rem] h-auto transform -rotate-90" alt="">
			<img src="/ukc-grey.svg" class="md:w-[6rem] w-[3rem] h-auto transform -rotate-90"alt="">
			<img src="/ekc-grey.svg" class="md:w-[6rem] w-[3rem] h-auto transform -rotate-90" alt="">
		</div>
	</div>
    <div class="flex-1 flex-col items-center justify-center bg-white">
		<div class="flex flex-col items-start justify-center items-center pb-4 pt-24">
			<p class="v-copy2">your partner</p>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red mt-12">
				<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
			</svg>
		</div>
		<div class="md:w-2/5 mx-auto pb-14">
			<h1 class="text-3xl uppercase font-bolder text-center">your tarmac partner</h1>
			<RedLine />
			<p class="text-center text-black">The perfect guide to get you from rocky roads through too ultra smooth tarmac.</p>
		</div>
		<!-- tile section -->
		<div class="grid md:grid-cols-4 gap-0.5">
			<div class="col-span-2 row-span-2 h-96 md:h-full bg-black rounded-lg bg-[url('/company-mission.webp')] bg-center bg-no-repeat flex items-center justify-end p-4">
				<div class="flex flex-col w-2/6 h-full justify-end">
					<div class="h-full flex justify-end">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-red">
							<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
						</svg>						  
					</div>
					<div class="h-36 border-l border-red flex flex-col justify-end pl-2 text-xl font-bolder uppercase text-white">
						<h3>mission</h3>
					</div>
				</div>
			</div>
			<!-- box 2 -->
			<div class="col-span-2 row-span-1 bg-gray rounded-lg p-4 flex flex-col items-start">
				<div class="w-full flex justify-end mb-4">
				  <!-- Your div with an icon or other content -->
				  <!-- Example: -->
				  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-red">
					<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
				</svg>	
				</div>
				<div class="flex items-start gap-4">
				  <img src="/favicon.svg" alt="at symbol" class="w-12" />
				  <div>
					<p class="pr-12">Our journey began in 1979 when Ashford Tarmac Contractors was founded. For over 45 years, we've remained a family-run business, proudly serving a diverse range of clients in the Private, Commercial, and Public Sectors. We started in road construction, but our true expertise lies in macadam surfacing. Trust, knowledge, and competitive pricing define our approach.</p>
					<div class="text-xl font-bold uppercase text-black text-right pt-12">
					  <h3>the at story</h3>
					</div>
				  </div>
				</div>
			</div>						
			<!-- box 3 -->
			<div class="col-span-1 row-span-1 bg-gray-dark rounded-lg flex justify-end p-4 h-64">
				<div class="flex flex-col h-full justify-end">
					<div class="h-3/5 flex justify-end">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-red">
							<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
						</svg>						  
					</div>
					<div class="h-3/5 border-l border-red flex flex-col justify-end text-xl font-bolder uppercase text-white pl-2">
						<h3>beliefs</h3>
					</div>
				</div>
			</div>
			<!-- box 4 -->
			<div class="col-span-1 row-span-1 rounded-lg flex items-center justify-end p-4 border border-red h-64">
				<div class="flex flex-col h-full justify-end">
					<div class="h-3/5 flex justify-end">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-red">
							<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
						</svg>						  
					</div>
					<div class="h-3/5 border-l border-red flex flex-col justify-end text-xl font-bolder uppercase text-black pl-2">
						<h3>values</h3>
					</div>
				</div>
			</div>
		</div>
    </div>
    <div class="border-l border-gray-light border-solid w-12"></div>
</div>
<!-- get things done section -->
<div class="flex bg-white">
    <div class="flex items-center justify-center border-r border-gray-light border-solid w-12"></div>
    <div class="flex-1 flex-col items-center justify-center">
		<div class="flex flex-col items-start justify-center items-center pb-4 pt-24">
			<p class="v-copy2">how we work</p>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red mt-12">
				<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
			</svg>
		</div>
		<div class="md:flex">
			<div class="md:w-2/5">
				<h1 class="text-4xl font-light lg:text-6xl pb-12 w-4/5">“...we bring a wealth of knowledge to every project.”</h1>
			</div>
			<div class="md:w-3/5 text-right">
					<h2 class="text-lg lg:text-lg uppercase text-gray pb-4">how we get things done</h2>
					<h3 class="text-xl font-black lg:text-3x2 uppercase text-red pb-0">masters of our craft</h3>
					<h3 class="text-xl font-black lg:text-3x2 uppercase text-black pb-0">our approach</h3>
					<h3 class="text-xl font-black lg:text-3x2 uppercase text-gray pb-0">peace of mind</h3>
				<span class="thin-text text-gray">24%</span>
				<div class="border-t border-red ml-8 "><p>&nbsp;</p></div>
				<p class="pb-12 text-black"><span class="font-bold">Tarmac Surfacing Experts - </span>Our journey began in road construction, but we've evolved into true specialists in macadam surfacing. Our experience is our strength, forming the bedrock of our expertise. Whether we're crafting beautiful driveways or constructing sturdy roads, we bring a wealth of knowledge to every project.</p>
			</div>
		</div>
		<img src="/bomag-asphalt-roller-yell.webp" alt="Bomag Tarmac Roller" class="md:h-40 md:w-40 h-20 w-20" />	  
		<div class="grid grid-rows-2">
			<div class="grid grid-cols-2">
			<div class="bg-black h-4 min-h-0"></div>
			<div class="bg-red h-4 min-h-0"></div>
			</div>
			<div class="grid grid-cols-3">
			<div class="bg-gray-light h-4 min-h-0"></div>
			<div class="bg-white h-4 min-h-0"></div>
			<div class="bg-gray-dark h-4 min-h-0"></div>
			</div>
		</div>
		<!--end of how we work -->
		<div class="flex flex-col items-start justify-center items-center pb-4 pt-24">
			<p class="v-copy2">questions?</p>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-red mt-9">
				<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
			</svg>
		</div>
		<!--questions -->
		<h2 class="text-right uppercase text-lg text-gray pb-4 font-bold">questions that our clients often ask</h2>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-0.5">
			<div class="bg-red rounded-lg overflow-hidden flex place-items-center justify-end w-full h-full min-h-96 pb-52 lg:pb-2">
				<h3 class="text-white text-6xl font-bold -rotate-90 origin-bottom-right uppercase">pricing</h3>
			</div>
			<div class="bg-gray p-4 rounded-lg min-h-96">
				<h3 class="uppercase text-3xl text-white">spec</h3>
				<RedLine />
				<p class="text-white text-sm md:text-base">Checkout our handy work from driveways and roads to car parks and communal areas. Checkout our handy work from driveways and roads to car parks and communal areas. Checkout our handy work from driveways and roads to car parks and communal areas. Checkout our handy work from driveways and roads to car parks and communal areas. Checkout our handy work from driveways and roads to car parks and communal areas. Checkout our handy work from driveways and roads to car parks and communal areas.</p>	
			</div>
			<div class="bg-gray-dark rounded-lg overflow-hidden flex place-items-center justify-end w-full h-full min-h-96 pb-72 lg:pb-16">
				<h3 class="text-white text-6xl font-bold -rotate-90 origin-bottom-right uppercase">Process</h3>
			</div>
			<div class="bg-black p-4 rounded-lg min-h-96">
				<p class="v-copy-ans text-lg text-white">Mrs S Reed – Kent</p>
				<p class="text-white font-bold lg:text-2xl text-xl pb-6">“I am writing to thank you and your team formally and personally for helping to ensure that the major project undertaken by the school this summer was a success.”</p>
				<img src="ukc.svg" class="md:w-[6rem] h-12 ml-auto"alt="university of kent tarmac review">
			</div>
		</div>
		<div class="flex flex-col items-start justify-center items-center pb-4 pt-28">
			<p class="v-copy2">understanding tarmac</p>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red mt-24">
				<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
			</svg>
		</div>
    </div>	  
	<!-- end of main tile content-->
    <div class="border-l border-gray-light border-solid w-12 pt-40">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-12 h-12 text-red">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg> 
    </div>
</div>
<!-- blog archive-->
<div class="w-full md:h-[47.75rem] bg-white grid md:grid-cols-4 md:grid-rows-4 grid-cols-2 grid-rows-6 gap-0.5 px-0.5">
	<div class="row-span-1 col-span-1 rounded-lg bg-[url('/tarmac-car-park.webp')] bg-no-repeat"></div>
	<div class="row-span-1 col-span-1 rounded-lg bg-gray-dark p-4 text-white">
		<h2 class="uppercase text-lg overflow-hidden whitespace-nowrap overflow-ellipsis">your driveway reimagined</h2>
		<RedLine />
		<p class="text-sm lg:text-base overflow-hidden max-h-[5em] line-clamp-3 pb-2">Checkout our handy work from driveways and roads to car parks and communal areas.</p>
		<button type="button" class="float-right text-white bg-red hover:bg-black focus:ring-4 focus:outline-none focus:ring-red font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red dark:hover:bg-black dark:focus:ring-b ">
			<svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
			<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
			</svg>
			<span class="sr-only">Icon description</span>
		</button>  
	</div>
	<div class="row-span-1 col-span-2 rounded-lg bg-[url('/tarmac-digger.webp')] bg-no-repeat"></div>
	<div class="row-span-2 col-span-1 rounded-lg bg-gray-dark text-white p-4 lg:pt-52 md:pt-36">
		<h2 class="uppercase text-lg">your driveway reimagined</h2>
		<RedLine />
		<p class="pb-2">Checkout our handy work from driveways and roads to car parks and communal areas.</p>
		<button type="button" class="float-right text-white bg-red hover:bg-black focus:ring-4 focus:outline-none focus:ring-red font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red dark:hover:bg-black dark:focus:ring-b ">
			<svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
			<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
			</svg>
			<span class="sr-only">Icon description</span>
		</button>  
	</div>
	<div class="row-span-2 col-span-1 rounded-lg bg-[url('/tarmac-line-painting.webp')] bg-no-repeat"></div>
	<div class="row-span-2 col-span-2 rounded-lg bg-[url('/housing-development-road-contractor.webp')] bg-no-repeat text-white p-4 pt-52">
		<h2 class="uppercase text-lg">your driveway reimagined</h2>
		<RedLine />
		<p>Checkout our handy work from driveways and roads to car parks and communal areas.</p>
		<button type="button" class="float-right text-white bg-red hover:bg-black focus:ring-4 focus:outline-none focus:ring-red font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red dark:hover:bg-black dark:focus:ring-b ">
			<svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
			<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
			</svg>
			<span class="sr-only">Icon description</span>
		</button>  
	</div>
	<div class="row-span-1 col-span-2 rounded-lg bg-[url('/ground-works.webp')] bg-no-repeat"></div>
	<div class="row-span-1 col-span-1 rounded-lg bg-gray-dark p-4 text-white">
		<h2 class="uppercase text-lg overflow-hidden whitespace-nowrap overflow-ellipsis">your driveway reimagined</h2>
		<RedLine />
		<p class="text-sm lg:text-base overflow-hidden max-h-[5em] line-clamp-3 pb-2">Checkout our handy work from driveways and roads to car parks and communal areas.</p>
		<button type="button" class="float-right text-white bg-red hover:bg-black focus:ring-4 focus:outline-none focus:ring-red font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red dark:hover:bg-black dark:focus:ring-b ">
			<svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
			<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
			</svg>
			<span class="sr-only">Icon description</span>
		</button>  
	</div>
	<div class="row-span-1 col-span-1 rounded-lg bg-red text-white p-4">
		<h3 class="uppercase lg:text-2xl text-xl font-bolder">Something about</h3>
		<h3 class="uppercase text-lg">tarmac</h3>
		<div class="flex flex-row justify-end min-h-min pt-2">
			<button class="bg-black hover:bg-white hover:text-black text-white md:text-lg text-sm font-bold tracking-wide py-2 pl-4 pr-2 my-6 rounded-full flex items-center">
				<a href="/about">Go to blog</a>
				<span class="bg-red rounded-full p-2 ml-4">
					<svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
					</svg>
				</span>
			</button>
		</div>
	</div>
</div>
</BaseLayout>
		  