---
import BaseLayout from '../layouts/BaseLayout.astro';
import Clients from '../components/Clients.astro';
import GetEstimateBtn from '../components/GetEstimateBtn.astro';
import RedLine from '../components/RedLine.astro';
import BlogArchive from '../components/BlogArchive.astro';
const pageTitle = "Trusted Tarmac Contractor - About Ashford Tarmac";
---
<script>
import {fliptastic, how_we_work_roller, gsap} from '../scripts/animation'
fliptastic("[data-at-flip]", {duration: 0.125});
how_we_work_roller({offset: '-=5000'});

const how_we_work_sections = () => {
	const root = document.querySelector('[data-at-hww1=root]')
	if (!root) return
	const headers = [...root.querySelectorAll('[data-at-hww1=header] > h3')]
	const progress = root.querySelector('[data-at-hww1=progress]')
	const progress_bar = progress.nextElementSibling
	const content = [...root.querySelectorAll('[data-at-hww1=content] > div')]
	const trigger = root

    const tl = gsap.timeline({
        scrollTrigger: {
            trigger,
            pin: true,
            start: 'top top',
            scrub: 1,
            end: () => `+=5000`
        }
    })
    const update_progress = function() {
        const percentage = `${Math.ceil(this.progress() * 100)}%`
        progress.textContent = `${Math.ceil((1 - this.progress()) * 100)}%`
    }
	const state = {
		active: 0
	}
	headers.forEach((hdr, i) => {
		const index = i
		tl.set(hdr, {color: 'var(--r)', onComplete: () => state.active = index})
		tl.to(content[i], {left: 0})
		tl.to(progress_bar, {width: '0', onUpdate: update_progress}, '<')
		tl.addLabel(`lbl${index}`)
		tl.to(progress_bar, {width: '100%', onUpdate: update_progress, duration: 5})
		if (i < content.length - 1) {
			tl.to(content[i], {left: '100%'})
			tl.set(hdr, {color: ''})
		}
        hdr.addEventListener('click', () => {
            const st = tl.scrollTrigger
            window.scrollTo({top: st.labelToScroll(`lbl${index}`), behavior: 'smooth'});
        })
	})

	root.querySelector('[data-at-hww1=next')?.addEventListener('click', () => {
		const st = tl.scrollTrigger
		state.active = (state.active + 1) % content.length
		window.scrollTo({top: st.labelToScroll(`lbl${state.active}`), behavior: 'smooth'});
	})
}

how_we_work_sections()

</script>
<BaseLayout pageTitle={pageTitle}>
<!-- hero section -->
<div class="flex bg-black bg-[url('/blk_symb.svg')] bg-bottom bg-right bg-no-repeat">
    <div class="flex items-center justify-center w-12 border-r border-gray-dark border-solid"></div>
    <div class="flex-1 pt-24">
		<h1 class="text-white text-5xl font-light md:text-6xl pb-48 w-4/5">Welcome to AT - Your Trusted Tarmac Contractor</h1>
		<div class="md:flex md:flex-row md:gap-14 md:pr-24 gap-y-12">
			<div class="flex-item">
				<h2 class="text-gray tracking-wider">a reliable contractor</h2>
				<RedLine />
				<p class="text-white">We're not just another tarmac company – we're trusted by Domestic clients, Hospitals, Schools and Developers.</p>
			</div>
			<div class="flex-item pt-6 md:pt-0">
				<h2 class="text-gray tracking-wider">with solid foundations</h2>
				<RedLine />
				<p class="text-white">Since our inception in 1979, our family-run business has been dedicated to client satisfaction, honesty and value for money.</p>
			</div>
			<div class="flex-item pt-6 md:pt-0 pb-60">
				<h2 class="text-gray tracking-wider">with the knowledge you need</h2>
				<RedLine />
				<p class="text-white">At Ashford Tarmac, we blend decades of experience with a personal touch to provide you with an exceptional service.</p>
			</div>
		</div>
	</div>
    <div class="flex items-center justify-center w-12 border-l border-gray-dark border-solid"></div>
</div>
<!-- Your tarmac partner -->
<div class="flex bg-white">
    <div class="border-r border-gray-light border-solid w-12">
		<div class="flex flex-col justify-evenly h-full pt-24">
			<img src="/lc-grey.svg" class="md:w-[6rem] w-[3rem] h-auto transform -rotate-90" alt="">
			<img src="/abc-grey.svg" class="md:w-[6rem] w-[3rem] h-auto transform -rotate-90" alt="">
			<img src="/nt-grey.svg" class="md:w-[6rem] w-[3rem] h-auto transform -rotate-90" alt="">
			<img src="/ukc-grey.svg" class="md:w-[6rem] w-[3rem] h-auto transform -rotate-90"alt="">
			<img src="/ekc-grey.svg" class="md:w-[6rem] w-[3rem] h-auto transform -rotate-90" alt="">
		</div>
	</div>
    <div class="flex-1 flex-col items-center justify-center bg-white">
		<div class="flex flex-col items-start justify-center items-center pb-4">
			<p class="v-copy2">your partner</p>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red mt-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
			</svg>
		</div>
		<div class="lg:w-2/5 mx-auto pb-14">
			<h2 class="text-3xl text-center">your tarmac partner</h2>
			<RedLine />
			<p class="text-center text-black">The perfect guide to get you from rocky roads through too ultra smooth tarmac.</p>
		</div>
		<!-- tile section -->
		<div class="grid grid-cols-[50%_minmax(50%,1fr)] md:grid-cols-[repeat(4,minmax(1rem,1fr))] gap-0.5 cursor-pointer">
			<div class="col-span-2 row-span-2 h-96 md:h-full rounded-lg p-4 bg-black text-white" data-at-flip="vert">
				<div class="flex flex-col w-full h-full justify-start items-end bg-[url('/company-mission.webp')] bg-center bg-no-repeat">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-red">
						<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
					</svg>
					<div class="flex flex-row flex-[0_1_100%] gap-4 justify-end items-end min-w-[40%]">
						<div class="flex flex-col flex-[83.33%_0_0] relative border-l border-red pl-2 min-h-28 justify-end text-xl">
							<h3 class="font-bolder uppercase">Our Mission</h3>
						</div>
					</div>
				</div>
				<div class="flex flex-col w-full h-full justify-start items-end" style="display:none">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-red">
						<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
					</svg>
					<div class="flex flex-row flex-[0_1_100%] gap-4 justify-end items-end min-w-[40%]">
						<div class="flex flex-col flex-[83.33%_0_0] relative border-l border-red pl-2 min-h-28 justify-end text-xl">
							<h3 class="font-bolder uppercase">Your Satisfaction, Our Commitment</h3>
							<p class="text-sm md:text-base">At Ashford Tarmac, we have a simple yet unwavering mission: to prioritise your satisfaction above all else. Our commitment is grounded in transparency regarding your budget and expectations. We strive relentlessly to achieve the best results in every aspect of our service. Your peace of mind is our ultimate goal.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- box 2 -->
			<div class="col-span-2 row-span-1 rounded-lg p-4 flex flex-col items-start min-h-72 bg-gray text-black" data-at-flip="horz">
				<div class="flex flex-col w-full h-full justify-start items-end">
					<div class="flex items-start gap-4">
						<img src="/favicon.svg" alt="at symbol" class="w-12 pt-8" />
						<div>
							<p class="text-sm lg:text-base">Our journey began in 1979 when Ashford Tarmac Contractors was founded, since then we've remained a family-run business, proudly serving a diverse range of clients in the Domestic, Commercial, and Public Sectors. We've worked with Leeds Castle for the last 10 years and have completed countless projects for the likes of Bupa, The National Trust and Kent University to name a few.</p>
						</div>
					</div>
				</div>
				<div class="flex flex-col w-full h-full justify-start items-end" style="display:none">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-red">
						<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
					</svg>
					<div class="flex flex-row flex-[0_1_100%] gap-4 justify-end items-end min-w-[40%]">
						<div class="flex flex-col flex-[83.33%_0_0] relative border-l border-red pl-2 min-h-28 justify-end text-xl">
							<h3 class="font-bolder uppercase">The at story</h3>
						</div>
					</div>
				</div>
			</div>
			<!-- box 3 -->
			<div class="col-span-1 row-span-1 rounded-lg p-4 bg-gray-dark text-white" data-at-flip="horz">
				<div class="flex flex-col w-full h-full justify-start items-end">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-red">
						<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
					</svg>
					<div class="flex flex-row flex-[0_1_100%] gap-4 justify-end items-end min-w-[40%]">
						<div class="flex flex-col flex-[83.33%_0_0] relative border-l border-red pl-2 min-h-28 justify-end text-xl">
							<h3 class="font-bolder uppercase">Beliefs</h3>
						</div>
					</div>
				</div>
				<div class="flex flex-col w-full h-full justify-start items-end" style="display:none">
					<div class="flex flex-row flex-[0_1_100%] gap-4 justify-end items-end min-w-[40%]">
						<div class="flex flex-col flex-[83.33%_0_0] relative border-l border-red pl-2 min-h-28 justify-end text-xl">
							<h3 class="font-bolder uppercase">Delivering the Best</h3>
							<p class="text-sm lg:text-base">Exceptional results and exceeding expectations with expert advice and proven value.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- box 4 -->
			<div class="col-span-1 row-span-1 rounded-lg flex items-center justify-end p-4 text-red border border-red h-64 w-full box-border" data-at-flip="horz">
				<div class="flex flex-col w-full h-full justify-start items-end">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-red">
						<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
					</svg>
					<div class="flex flex-row flex-[0_1_100%] gap-4 justify-end items-end min-w-[40%]">
						<div class="flex flex-col flex-[83.33%_0_0] relative border-l border-red pl-2 min-h-28 justify-end text-xl">
							<h3 class="font-bolder uppercase">Values</h3>
						</div>
					</div>
				</div>
				<div class="flex flex-col w-full h-full justify-start items-end" style="display:none">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-red">
						<path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
					</svg>
					<div class="flex flex-row flex-[0_1_100%] gap-4 justify-end items-end min-w-[40%]">
						<div class="flex flex-col flex-[83.33%_0_0] relative border-l border-red pl-2 min-h-28 justify-end text-xl">
							<h3 class="font-bolder uppercase">Values That Guide Us</h3>
							<p class="text-smh lg:text-base">The cornerstone of our commitment to you: Client satisfaction, Honesty and Value for money.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <div class="border-l border-gray-light border-solid w-12"></div>
</div>
<!-- get things done section -->
<div class="flex bg-white" data-at-hww1="root">
    <div class="flex items-center justify-center border-r border-gray-light border-solid w-12"></div>
    <div class="flex-1 flex-col items-center justify-center">
		<div class="flex flex-col items-start justify-center items-center pb-4 pt-4 md:pt-24">
			<p class="v-copy2">how we work</p>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red mt-6">
				<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
			</svg>
		</div>
		<div class="md:flex">
			<div class="md:w-2/5">
				<h4 class="text-4xl font-light lg:text-6xl pb-12 w-4/5">“...we bring a wealth of knowledge to every project.”</h4>
			</div>
			<div class="md:w-3/5 text-right" data-at-hww1="header">
				<h2 class="text-gray pb-4">how we get things done</h2>
				<h3 class="text-xl font-black lg:text-3x2 text-gray-dark pb-0 transition-all">masters of our craft</h3>
				<h3 class="text-xl font-black lg:text-3x2 text-black pb-0 transition-all">our approach</h3>
				<h3 class="text-xl font-black lg:text-3x2 text-gray pb-0 transition-all">our promise</h3>
				<span class="thin-text text-gray" data-at-hww1="progress">0%</span>
				<div class="border-t border-red relative w-0"></div>
				<div class="overflow-hidden relative flex flex-row" data-at-hww1="content">
					<div id="masters" class="flex-[0_0_100%] mr-[-100%] relative">
						<p class="pb-12 text-black"><span class="font-bold">Tarmac Surfacing Experts - </span>Our journey began in road construction, but we've evolved into true specialists in macadam surfacing. Our experience is our strength, forming the bedrock of our expertise. Whether we're crafting beautiful driveways or constructing sturdy roads, we bring a wealth of knowledge to every project.</p>
					</div>
					<div id="approach" class="flex-[0_0_100%] mr-[-100%] relative left-[100%]">
						<p class="text-black"><span class="font-bold">Your Vision, Our Commitment</span>Ever wondered how we tackle projects? It's straightforward:</p>
						<p>1. Reach out to us > 2. Confirm your project details > 3. Leave the rest to us, from meticulous planning to flawless project completion.</p>
						<p class="pb-12 text-black"><span class="">We pledge to deliver the best possible outcome, provide unmatched value for your investment, and offer advice you can trust.</p>
					</div>
					<div id="promise" class="flex-[0_0_100%] mr-[-100%] relative left-[100%]">
						<p class="text-black"><span class="font-bold">Your Peace of Mind Matters <br /></span>We understand your concerns:</p>
						<ul class="space-y-4 pb-4">
							<li>Homeowners worry about worn driveways, diminished curb appeal, and car damage.</li>
							<RedLine />
							<li>Businesses struggle to find trustworthy contractors who provide consistent results.</li>
							<RedLine />
							<li>Public sector clients grapple with budget constraints and reliability issues.</li>
						</ul>
						<p class="text-black"><span class="font-bold">At Ashford Tarmac Contractors</span><br />We promise to:</p>
						<ul class="space-y-4">
							<li>Elevate your home's aesthetics while ensuring safety for your home and vehicles.</li>
							<RedLine />
							<li>Provide consistent, competitively priced sliutions for commercial projects.</li>
							<RedLine />
							<li>Deliver dependable services within your budget for public sector needs.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="mx-[-3rem] px-12 overflow-hidden">
			<img id="at-hww-roller" src="/bomag-asphalt-roller-yell.webp" alt="Bomag Tarmac Roller" class="md:h-40 md:w-40 h-20 w-20 ml-[0.75rem] md:ml-[1.5rem] relative left-[-20rem] z-[-1]" />
			<div class="grid grid-rows-2">
				<div>
					<div class="bg-red h-4 min-h-0 relative left-[-100vw]"><span class="block h-full w-0 relative bg-black" /></div>
				</div>
				<div class="grid grid-cols-3">
					<div class="bg-gray-light h-4 min-h-0 relative left-[100vw]"></div>
					<div class="bg-white h-4 min-h-0 relative left-[100vw]"></div>
					<div class="bg-gray-dark h-4 min-h-0 relative left-[100vw]"></div>
				</div>
			</div>
		</div>
		<!--end of how we work -->
		<div class="flex flex-col items-start justify-center items-center pb-4 pt-24">
			<p class="v-copy2">questions?</p>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-red mt-9">
				<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
			</svg>
		</div>
		<!--questions -->
		<h2 class="text-right text-gray pb-4 font-bold">questions that our clients often ask</h2>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-0.5 cursor-pointer">
			<div data-at-flip="vert" class="text-white bg-red rounded-lg w-full h-full relative">
				<div class="overflow-hidden flex flex-col items-end place-items-center justify-end w-full h-full min-h-96 pb-2">
					<h3 class="text-6xl font-bold vertical-rl origin-bottom-right uppercase">Pricing</h3>
				</div>
				<div class="p-4 min-h-96 h-full" style="display:none">
					<h3 class="uppercase text-3xl text-white">pricing</h3>
					<div class="border-b border-white border-solid pt-2 mb-4"></div>
					<p class="text-white text-sm md:text-base">Tell us a bit about your project (size, existing materials, drainage) and we'll be in touch straight away.</p>
					<ul class="text-white list-disc pl-6 font-normal pb-6">
						<li>Ballpark quote: Based on your info, we might provide an initial cost estimate.</li>
						<li>Free site visit: For a more accurate assessment, we'll schedule a convenient visit.</li>
						<li>Exact costs: Once we have all the details, we will provide you with a guaranteed estimate.</li>
					</ul>
					<GetEstimateBtn bg1="black" bg2="gray" fg1="white" arrow="red" text="Get an estimate" />
				</div>
			</div>
			<div data-at-flip="horz" class="text-white bg-gray rounded-lg w-full h-full relative">
				<div class="p-4 min-h-96 h-full">
					<h3 class="uppercase text-3xl text-white">spec</h3>
					<RedLine />
					<p class="text-white text-sm md:text-base">It doesn't matter which type of client you are, you may or may not have a technical specification.</p>
					<p class="text-white text-sm md:text-base">In any case, we can advise you on the technical aspects of the project such as choosing the right type of sub base or tarmac grade.</p>
					<p class="text-white text-sm md:text-base">Sometimes we may need to schedule a site visit to better understand your requirements, our clients have commented that our advice is super helpful time and time again. .</p>
				</div>
				<div class="overflow-hidden flex flex-col items-end place-items-center justify-end w-full h-full min-h-96 pb-2" style="display:none">
					<h3 class="text-6xl font-bold vertical-rl origin-bottom-right uppercase">Spec</h3>
				</div>
			</div>
			<div data-at-flip="vert" class="text-white bg-gray-dark rounded-lg w-full h-full relative">
				<div class=" overflow-hidden flex flex-col items-end justify-end w-full h-full min-h-96 pb-2">
					<h3 class="text-white text-6xl font-bold vertical-lr origin-bottom-right uppercase">Process</h3>
				</div>
				<div class="bg-gray-dark p-4 rounded-lg min-h-96 h-full" style="display:none">
					<h3 class="uppercase text-3xl text-white">process</h3>
					<div class="border-b border-white border-solid pt-2 mb-4"></div>
					<p class="text-white text-sm md:text-base">Our process can differ depending on what type of sector you are in, once we have got to a stage where we have provided you with a guaranteed cost, we liaise with you regarding the scheduled days that we will complete the work and any additional items that you need to consider. Once the project is complete, we will go through the finished area with you to ensure that you are 100% happy.</p>
				</div>
			</div>
			<div data-at-flip="horz" class="text-white bg-black rounded-lg w-full h-full relative lg:min-h-[46rem]">
				<div class="bg-black p-4 rounded-lg min-h-96 h-full">
					<p class="v-copy-ans text-lg text-white">Mrs S Reed – Kent</p>
					<p class="text-white font-bold lg:text-2xl text-xl pb-6">“I am writing to thank you and your team formally and personally for helping to ensure that the major project undertaken by the school this summer was a success.”</p>
					<img src="ukc.svg" class="md:w-[6rem] h-12 ml-auto"alt="university of kent tarmac review">
				</div>
				<div class="overflow-hidden flex flex-col items-end justify-end w-full h-full min-h-96 pb-2" style="display:none">
					<h3 class="text-white text-6xl font-bold vertical-lr origin-bottom-right uppercase">Review</h3>
				</div>
			</div>
		</div>
		<div class="flex flex-col items-start justify-center items-center pb-4 pt-28">
			<p class="v-copy2">understanding tarmac</p>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red mt-16">
				<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
			</svg>
		</div>
    </div>	  
	<!-- end of main tile content-->
    <div class="border-l border-gray-light border-solid w-12 pt-40" data-at-hww1="next">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-12 h-12 text-red">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg> 
    </div>
</div>
<div class="flex bg-white">
	<div class="border-r border-gray-light border-solid w-12"></div>
		<div class="flex-1 flex-col items-center justify-center">
			<BlogArchive />
		</div>
	<div class="border-l border-gray-light border-solid w-12"></div>
  </div>
</BaseLayout>
		  