---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const pageTitle ="Blog Archive";
const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle={pageTitle}>
	<div class="flex bg-white pt-24">
		<div class="border-r border-gray-light border-solid w-12"></div>
			<div class="flex-1 flex-col items-center justify-center">
				<h1 class="pb-6">{pageTitle}</h1>
				<ul>
					{allPosts.map((post) => <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />)}
				</ul>
			</div>
		<div class="border-l border-gray-light border-solid w-12"></div>
	  </div>
</BaseLayout>