---
import BaseLayout from '../layouts/BaseLayout.astro';
import GetEstimateBtn from '../components/GetEstimateBtn.astro';
import RedLine from '../components/RedLine.astro';
import EstimateForm from '../components/EstimateForm.astro';
const pageTitle = "Commercial Tarmac Contractor in Kent, car parks, roads, pathways";
---

<BaseLayout pageTitle={pageTitle}>
<!-- hero section --> 
<div class="flex bg-[url('/commercial-tarmac-contractor-hero.jpg')] bg-top bg-fixed">
    <div class="flex items-center justify-center w-12 border-r border-gray-light border-solid"></div>
    <div class="flex-1 lg:flex lg:items-center lg:justify-center lg:py-24 py-12">
        <div class="w-3/5 pb-48">
            <h1 class="md:text-lg text-smh uppercase">Say Goodbye to Unreasonable Quotes & Unreliable Contractors</h1>
            <h1 class="md:text-3xl text-2xl font-bold">Transform your commercial space with quality tarmac solutions</h1>
            <p class="lg:text-base my-8 lg:pr-24">Welcome to Ashford Tarmac Contractors, where we pave the way for your commercial success. Is your commercial space in need of a new road or car park? Say goodbye to the frustration of searching for a reliable and reasonably priced contractor. </p>
            <div class="-rotate-18 absolute top-120 right-160 pb-6">
                <GetEstimateBtn />
            </div>
        </div>
        <div class="w-2/5">
            <h3 class="text-white text-7xl font-bold -rotate-90 uppercase opacity-30 transform origin-bottom">knowledge</h3>
        </div>
    </div>
    <div class="flex items-center justify-center w-12 border-l border-gray-light border-solid"></div>
</div>
<!-- challenge section -->
<div class="flex bg-black">
    <div class="border-r border-gray-dark border-solid w-12"></div>
    <div class="flex-1 flex-col bg-black">
        <div class="flex flex-col items-start justify-center items-center pb-4">
            <p class="v-copy3">commercial challenge</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white mt-24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
            </svg>
        </div>
        <div class="grid grid-cols-2 bg-black">
            <div class="">
                <h2 class="md:text-lg text-smh uppercase text-white pb-2">The Commercial Tarmac Challenge</h2>
                <h4 class="text-6xl text-white font-light">We understand<br />the challenge.</h4>
                <p class="text-white pt-12">Finding a reputable and trustworthy contractor for your commercial tarmac needs at the right price can be daunting. You need a new road or car park, but the search for the right contractor seems never-ending.</p>
                <p class="text-white pt-6">We understand your quest for trust and affordability. Since 1979, we've served housing developers, hospitals, universities, and more. Our experienced team is known for reliability, and our advice is highly valued by our clients.</p>
            </div>
            <div class="flex justify-end items-center">
                <div class="text-white text-7xl opacity-30 uppercase rotate-90 whitespace-nowrap pb-96"><p>ashford tarma</p></div>
            </div>
        </div>
        <div class="flex flex-col items-start justify-center items-center pb-2">
            <p class="v-copy2">solving the </p>
        </div>
    </div>
    <div class="border-l border-gray-dark border-solid w-12"></div>
</div>
<!-- solution section -->
<div class="flex bg-white">
    <div class="border-r border-gray-light border-solid w-12"></div>
        <div class="flex-1 flex-col items-center justify-center">
            <div class="flex flex-col items-start justify-center items-center pb-4">
                <p class="v-copy2">solving the</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red mt-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
                </svg>
            </div>
            <div class="md:w-2/5 mx-auto pb-14">
                <h1 class="text-3xl uppercase font-bolder text-center">The Solution</h1>
                <RedLine />
                <p class="text-center"><span class="font-bold">Tarmac Solutions for Your Commercial Space</span> <br />Imagine having a reliable partner for your commercial tarmac needs. Whether it's a new road or car park, our services are tailored to your specifications and budget.</p>
            </div>
            <div class="w-full mx-auto">
                <img src="/dev1.svg" alt="commercial tarmac company in kent"/>
            </div>
        </div>
    <div class="border-l border-gray-light border-solid w-12"></div>
</div>
<!-- get estimate section -->
<div class="flex bg-white">
    <div class="border-r border-gray-light border-solid w-12"></div>
        <div class="flex-1 flex-col items-center justify-center">
            <EstimateForm />
            
        </div>
    <div class="border-l border-gray-light border-solid w-12"></div>
</div> 

</BaseLayout>