---
import BaseLayout from '../layouts/BaseLayout.astro';
import GetEstimateBtn from '../components/GetEstimateBtn.astro';
import RedLine from '../components/RedLine.astro';
import EstimateForm from '../components/EstimateForm.astro';
import ServiceProcess from '../components/ServiceProcess.astro';
import ServiceProcessItem from '../components/ServiceProcessItem.astro';

const pageTitle = "Commercial Tarmac Contractor in Kent, car parks, roads, pathways";
---
<script>
import {scrolltrigger_text, service_tabs} from '../scripts/animation'
window.addEventListener('load', () => {
scrolltrigger_text(document.getElementById('at-stc1'), document.getElementById('at-stc1-a'))
service_tabs(document.getElementById('at-tabs'))
})
</script>
<BaseLayout>
    <!-- hero section --> 
    <div class="flex flex-row bg-white bg-[url('/case-study.webp')] bg-no-repeat bg-[10%_10%] bg-cover h-[50rem] relative">
        <div class="border-r border-gray-light border-solid w-12 z-[2]"></div>
        <div class="absolute w-full border-white h-[50rem] border-t-[14rem] border-l-[14rem]" />
        <div class="flex-1 flex-col items-center justify-center relative">
            <div class="w-3/5 pt-24">
                <h2 class="md:text-lg text-sm font-bold pb-2 text-gray">Say Goodbye to Unreasonable Quotes & Unreliable Contractors</h1>
                <h1 class="md:text-3xl text-2xl font-bold">Transform your commercial space with quality tarmac solutions</h1>
                <p class="text-black my-8 lg:pr-24">Welcome to Ashford Tarmac Contractors, where we pave the way for your commercial success. Is your commercial space in need of a new road or car park? Say goodbye to the frustration of searching for a reliable and reasonably priced contractor. </p>
            </div>
        </div>
        <div class="border-l border-gray-light border-solid w-12 z-[2]"></div>
    </div>
<!-- challenge section -->
<div class="flex min-h-[40rem] bg-black">
    <div class="border-r border-gray-dark border-solid w-12"></div>
    <div class="flex-1 flex-col bg-black">
        <div class="flex flex-col items-start justify-center items-center pb-4">
            <p class="v-copy2 pr-28">commercial challenge</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
            </svg>
        </div>
        <div id="at-stc1" class="grid md:grid-cols-2 grid-cols-1 bg-black">
            <div class="pb-48">
                <h2 class="text-gray">The Commercial Tarmac Challenge</h2>
                <h4 class="md:text-6xl text-5xl text-white font-light pb-6">We understand<br />the challenge.</h4>
                <p class="text-white">Finding a reputable and trustworthy contractor for your commercial tarmac needs at the right price can be daunting. You need a new road or car park, but the search for the right contractor seems never-ending.</p>
                <p class="text-white">We understand your quest for trust and affordability. Since 1979, we've served housing developers, hospitals, universities, and more. Our experienced team is known for reliability, and our advice is highly valued by our clients.</p>
            </div>
            <div class="overflow-hidden h-[100%]">
                <div id="at-stc1-a" class="text-white text-7xl font-bold lg:-rotate-90 uppercase opacity-30 whitespace-nowrap" data-at-scroll-pos="-30rem"><span class="ml-[-70rem]">Ashford Tarmac</span></div>
            </div>
        </div>
    </div>
    <div class="border-l border-gray-dark border-solid w-12"></div>
</div>
<!-- solution section -->
<div class="flex bg-white" id="at-tabs">
    <div class="border-r border-gray-light border-solid w-12"></div>
    <div class="flex-1 flex-col items-center justify-center">
        <div class="flex flex-col items-start justify-center items-center pb-4">
            <p class="v-copy2">solving the challenge</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red mt-16">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
            </svg>
        </div>
        <div>
            <!-- tabbed content --> 
            <div class="flex items-center relative justify-center mx-auto md:max-w-96 w-72 mb-12 bg-gray rounded-full uppercase text-lg font-bold text-white">
                <div class="absolute left-0 w-[9rem] h-[100%] rounded-full bg-gray-dark"></div>
                <div class="flex items-center justify-center w-48 h-12 rounded-full relative cursor-pointer" data-at-show="solution">
                    <p class="font-bold">solution</p>
                </div>
                <div class="flex items-center justify-center w-48 h-12 rounded-full relative cursor-pointer" data-at-show="pricing">
                    <p class="font-bold">pricing</p>
                </div>
            </div>
            <!-- tabs -->
            <div class="relative overflow-hidden">
                <div class="relative flex flex-row">
                    <div class="flex-[100%_0_0]" data-at-show-target="solution">
                        <div class="mx-auto pb-14">
                            <h3 class="md:text-3xl text-2xl font-bold uppercase font-bold text-center md:w-3/5 mx-auto">The Solution</h3>
                            <RedLine class=" md:w-3/5 mx-auto"/>
                            <p class="text-center text-black md:w-3/5 mx-auto"><span class="font-bold">Tarmac Solutions for Your Commercial Space</span> <br />Imagine having a reliable partner for your commercial tarmac needs. Whether it's a new road or car park, our services are tailored to your specifications and budget.</p>
                        </div>
                        <div class="w-full mx-auto pb-12">
                            <img src="/dev1.svg" alt="commercial tarmac company in kent"/>
                        </div>
                    </div>
                    <div class="flex-[100%_0_0]" data-at-show-target="pricing">
                        <div class="mx-auto pb-14">
                            <h3 class="md:text-3xl text-2xl font-bold uppercase font-bold text-center md:w-3/5 mx-auto">Pricing</h3>
                            <RedLine class=" md:w-3/5 mx-auto" />
                            <p class="text-center text-black md:w-3/5 mx-auto"><span class="font-bold">When you choose Ashford Tarmac Contractors - </span> <br />You're choosing a solution that offers consistent and reasonable pricing. We ensure value for money and stand by our work with a guarantee. No more unreasonable quotes or unreliable contractors.</p>
                        </div>
                        <div class="w-full mx-auto pb-12">
                            <img src="/dev1.svg" alt="commercial tarmac company in kent"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <div class="border-l border-gray-light border-solid w-12"></div>
</div>
<!-- process section-->
<ServiceProcess title="The Process">
    <ServiceProcessItem title="How do you get started?">
        <p slot="content">You can simply send us your spec and we can provide an estimate based on the information that you supply. Not quite finalised the spec yet? Don't we can help with that too and provide some guidance if needed.</p>
        <img slot="image" src="/uni2-svg.png" alt="commercial tarmac company in kent"/>
    </ServiceProcessItem>
    <ServiceProcessItem title="Our Promise to You">
        <p slot="content">We're confident in our ability to meet your expectations. Our promise includes providing the best possible outcome, delivering value for money, and offering expert advice based on our years of knowledge.</p>
        <img slot="image" src="/uni2-svg.png" alt="commercial tarmac company in kent"/>
    </ServiceProcessItem>
    <ServiceProcessItem title="From Uncertainty to Confidence">
        <p slot="content">Say goodbye to the uncertainty of dealing with unprofessional contractors and excessive charges. Choose Ashford Tarmac Contractors for expert advice, reliability, and affordability.</p>
        <img slot="image" src="/uni2-svg.png" alt="commercial tarmac company in kent"/>
    </ServiceProcessItem>
    <ServiceProcessItem title="The Cost of Making the Wrong Choice">
        <p slot="content">Opting for a lesser-known contractor can lead to subpar results, overcharging, and poor advice. Don't risk it. Choose a reliable and experienced contractor instead.</p>
        <img slot="image" src="/uni2-svg.png" alt="commercial tarmac company in kent"/>
    </ServiceProcessItem>
</ServiceProcess>
<!-- get estimate section -->
<div class="flex bg-white">
    <div class="border-r border-gray-light border-solid w-12"></div>
        <div class="flex-1 flex-col items-center justify-center">
            <EstimateForm />
        </div>
    <div class="border-l border-gray-light border-solid w-12"></div>
</div> 

</BaseLayout>