---
import BaseLayout from '../layouts/BaseLayout.astro';
import Clients from '../components/Clients.astro';
import GetEstimateBtn from '../components/GetEstimateBtn.astro';
import EstimateForm from '../components/EstimateForm.astro';
import RedLine from '../components/RedLine.astro';
const pageTitle = "Find a tarmac company in kent - Ashford Tarmac contact details";

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("username");
    const email = data.get("email");
    const password = data.get("password");
    // Do something with the data
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---
<script>
    import {atFormSend} from '../scripts/form'
    const btn = document.querySelector('#contact-btn')
    btn?.addEventListener('click', () => {
        const form = btn.closest('form')
        const message = form?.querySelector('.at-form-response')
        atFormSend(form, 'https://eos.ct1.xyz/quad-at-form.php').then(res => {
            if (res.success) {
                form?.reset()
            }
            if (message && res.message) {
                message.textContent = res.message;
            }
        }).catch();
    })
</script>
<BaseLayout pageTitle={pageTitle}>
<!-- hero section -->
<div class="flex bg-black">
    <div class="border-r border-gray-dark border-solid w-12"></div>
    <div class="flex-1 py-12">
        <div class="pb-48">
            <h1 class="md:text-lg text-smh uppercase text-white">ASHFORD TARMACADAM LTD</h1>
            <h2 class="text-white text-4xl font-light md:text-6xl w-4/5">Specialist tarmac contractor in Kent, serving the domestic, commercial and public sectors.</h2>
        </div>
        <div class="block">
            <h3 class="text-white md:text-7xl text-4xl font-bold uppercase opacity-30 ">tarmac company</h3>
            <h3 class="text-white md:text-7xl text-4xl font-bold uppercase opacity-10">skills, knowledge</h3>
        </div>
    </div>
    <div class="border-l border-gray-dark border-solid w-12"></div>
</div>
<!-- contact section -->
<div class="flex bg-white">
    <div class="border-r border-gray-light border-solid w-12"></div>
        <div class="flex-1 pt-24">
            <!-- Contact details -->
            <div class="grid grid-cols-4 w-full pt-4 pb-2">
                <div class="col-span-1 flex items-center">
                    <h3 class="md:text-3xl text-xl font-bold">Contact details</h3>
                </div>
                <div class="col-span-3 md:w-1/2 flex items-center">
                    <p class="text-sm">Please get in touch for advice that is based on 40 years experience.</p>
                </div>
            </div>
            <RedLine />
            <!-- Contact details row 1 -->
            <div class="grid grid-cols-4 w-full pt-2 pb-4 hover:bg-gray-light">
                <div class="col-span-1 flex items-center h-14">
                    <span class="md:text-[1.15rem] tracking-wide uppercase font-bold">Phone:</span>
                </div>
                <div class="col-span-3 flex items-center pl-4 md:pl-0">
                    <p class="text-black md:text-[1.5rem] text-lg">01233 733735</p>
                </div>
            </div>
            <RedLine />
            <!-- Contact details row 2 -->
            <div class="grid grid-cols-4 w-full pt-2 pb-4 hover:bg-gray-light">
                <div class="col-span-1 flex items-center h-14">
                    <span class="md:text-[1.15rem] tracking-wide uppercase font-bold">Fax:</span>
                </div>
                <div class="col-span-3 flex items-center pl-4 md:pl-0">
                    <p class="text-black md:text-[1.5rem] text-lg">01233 732319</p>
                </div>
            </div>
            <RedLine />
            <!-- Contact details row 3 -->
            <div class="grid grid-cols-4 w-full pt-2 pb-4 hover:bg-gray-light">
                <div class="col-span-1 flex items-center h-14">
                    <span class="md:text-[1.15rem] tracking-wide uppercase font-bold">Email:</span>
                </div>
                <div class="col-span-3 flex items-center pl-4 md:pl-0">
                    <p class="text-black md:text-[1.5rem] text-lg">info@ashfordtarmac.co.uk</p>
                </div>
            </div>
            <RedLine />
            <!-- Contact details row 4 -->
            <div class="grid grid-cols-4 w-full pt-2 pb-4 hover:bg-gray-light">
                <div class="col-span-1 flex items-center h-14">
                    <span class="md:text-[1.15rem] tracking-wide uppercase font-bold">Address:</span>
                </div>
                <div class="col-span-3 flex items-center pl-4 md:pl-0">
                    <p class="text-black md:text-[1.5rem] text-lg leading-9">Goodwin Capel Road Ruckinge Ashford Kent TN26 2EJ</p>
                </div>
            </div>
            <RedLine />
            <h3 class="text-3xl font-bold pt-24">Send us an email</h3>
            <RedLine />
            <form name="contact" method="POST">
                <!-- Form row 1 -->
                <div class="grid grid-cols-4 w-full pt-2 pb-4 hover:bg-gray-light">
                    <div class="col-span-1 flex items-end h-14">
                        <span class="md:text-[1.15rem] tracking-wide uppercase font-bold">Name:</span>
                    </div>
                    <div class="col-span-3">
                        <label>
                            <input class="w-full md:w-1/2 h-14 border border-gray rounded-lg p-4 text-base text-dark-gray font-bold focus:border-red focus:border-2 focus:outline-none" type="text" placeholder="Name" name="name" required />
                        </label>
                    </div>
                </div>
                <RedLine />
                <!-- Form row 2 -->
                <div class="grid grid-cols-4 w-full pt-4 pb-6 hover:bg-gray-light">
                    <div class="col-span-1 flex items-end h-14">
                        <span class="md:text-[1.15rem] tracking-wide uppercase font-bold">Email:</span>
                    </div>
                    <div class="col-span-3">
                        <label>
                            <input class="w-full md:w-1/2 h-14 border border-gray rounded-lg p-4 text-base text-dark-gray font-bold focus:border-red focus:border-2 focus:outline-none" type="text" placeholder="Email" name="email" required />
                        </label>
                    </div>
                </div>
                <RedLine />
                <!-- Form row 3 -->
                <div class="grid grid-cols-4 w-full pt-4 pb-6 hover:bg-gray-light">
                    <div class="col-span-1 flex items-end h-14">
                        <span class="md:text-[1.15rem] tracking-wide uppercase font-bold">Phone:</span>
                    </div>
                    <div class="col-span-3">
                        <label>
                            <input class="w-full md:w-1/2 h-14 border border-gray rounded-lg p-4 text-base text-dark-gray font-bold focus:border-red focus:border-2 focus:outline-none" type="tel" placeholder="Tel" name="tel" required />
                        </label>
                    </div>
                </div>
                <RedLine />
                <!-- Form row 4 -->
                <div class="grid grid-cols-4 w-full pt-4 pb-6 hover:bg-gray-light">
                    <div class="col-span-1 flex items-center h-14">
                        <span class="md:text-[1.15rem] tracking-wide uppercase font-bold">Message:</span>
                    </div>
                    <div class="col-span-3">
                        <label>
                            <textarea id="message" rows="6" cols="50" class="w-full md:w-1/2 border border-gray rounded-lg p-4 text-base focus:border-red focus:border-2 focus:outline-none" placeholder="Write your message here..."></textarea>
                        </label>
                        <button><GetEstimateBtn id="contact-btn" /></button>
                        <div class="at-form-response"></div>
                    </div>
                </div>
            </form>            
        </div>
    <div class="border-l border-gray-light border-solid w-12"></div>
  </div>
</BaseLayout>