---
import BaseLayout from '../layouts/BaseLayout.astro';
import GetEstimateBtn from '../components/GetEstimateBtn.astro';
import ServiceProcess from '../components/ServiceProcess.astro';
import ServiceProcessItem from '../components/ServiceProcessItem.astro';
import RedLine from '../components/RedLine.astro';
import EstimateForm from '../components/EstimateForm.astro';
---
<script>
import {scrolltrigger_text, service_tabs} from '../scripts/animation'
window.addEventListener('load', () => {
scrolltrigger_text(document.getElementById('at-stc1'), document.getElementById('at-stc1-a'))
service_tabs(document.getElementById('at-tabs'), 'stagger')
})
</script>
<BaseLayout>
    <!-- hero section --> 
    <div id="cloo" class="flex bg-white bg-[url('/house.webp')] bg-no-repeat bg-[10%_10%] bg-cover h-[50rem] relative">
        <div class="border-r border-gray-light border-solid w-12 bg-white md:bg-transparent z-[2]"></div>
        <div class="absolute w-full border-white h-[50rem] border-t-[14rem] border-l-[14rem]" />
        <div class="flex-1 flex-col items-center justify-center relative">
            <div class="w-3/5 pt-24">
                <h2 class="md:text-lg text-sm font-bold pb-2 text-gray">Say Goodbye to Car Damage and Hello to Curb Appeal</h2>
                <h1 class="md:text-3xl text-2xl font-bold">Transform your home with a stunning new driveway</h1>
                <p class="text-black my-8 lg:pr-24">Welcome to Ashford Tarmac Contractors, where your journey to a breathtaking driveway begins. Picture this: a driveway that not only enhances your home's beauty but also keeps your cars safe. Let's make that vision a reality. Click to start your transformation.</p>
                    <GetEstimateBtn />
            </div>
        </div>
        <div class="border-l border-gray-light border-solid w-12 z-[2]"></div>
    </div>
    <!-- challenge section -->
    <div class="flex min-h-[40rem] bg-black overflow-hidden">
        <div class="border-r border-gray-dark border-solid w-12"></div>
        <div class="flex-1 flex-col bg-black">
            <div class="flex flex-col items-start justify-center items-center pb-4">
                <p class="v-copy4">Driveway Dilemma</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
                </svg>
            </div>
            <div id="at-stc1" class="grid md:grid-cols-2 grid-cols-1 bg-black">
                <div class="pb-48">
                    <h2 class="text-gray">The Current Driveway Dilemma</h2>
                    <h4 class="md:text-6xl text-white text-[3rem] font-light pb-6">We understand the frustrations.</h4>
                    <p class="text-white">Your current driveway might be the source of daily headaches. Cracks, uneven surfaces, and a constant battle against dirt. And let's not even mention the car damage. But you're not alone. Many face this driveway dilemma.</p>
                    <p class="text-white">At Ashford Tarmac Contractors, we don't just build driveways; we build trust. We share your love for your car. We've been doing this since 1979, and while the years have changed, our dedication hasn't. Our team are true masters of driveways, and we're here to guide you every step of the way.</p>
                </div>
                <div class="h-[100%]">
                    <div id="at-stc1-a" class="text-white text-[7rem] font-bold uppercase opacity-30 lg:-rotate-90 whitespace-nowrap" data-at-scroll-pos="-50rem"><span class="ml-[-300%]">Your Driveway is Our Passion</span></div>
                </div>
            </div>
        </div>
        <div class="border-l border-gray-dark border-solid w-12"></div>
    </div>
    <!-- solution section -->
    <div class="flex bg-white" id="at-tabs">
        <div class="border-r border-gray-light border-solid w-12"></div>
        <div class="flex-1 flex-col items-center justify-center">
            <div class="flex flex-col items-start justify-center items-center pb-4">
                <p class="v-copy2 pr-14">dream driveway</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
                </svg>
            </div>
            <div>
                <!-- tabbed content --> 
                <div class="flex items-center relative justify-center mx-auto md:max-w-96 w-72 mb-12 bg-gray rounded-full uppercase text-lg font-bold text-white">
                    <div class="absolute left-0 w-[9rem] h-[100%] rounded-full bg-gray-dark"></div>
                    <div class="flex items-center justify-center w-48 h-12 rounded-full relative cursor-pointer" data-at-show="solution">
                        <p class="font-bold">solution</p>
                    </div>
                    <div class="flex items-center justify-center w-48 h-12 rounded-full relative cursor-pointer" data-at-show="pricing">
                        <p class="font-bold">pricing</p>
                    </div>
                </div>
                <!-- tabs -->
                <div class="relative overflow-hidden">
                    <div class="relative flex flex-row">
                        <div class="flex-[100%_0_0]" data-at-show-target="solution">
                            <div class="mx-auto pb-14">
                                <h3 class="text-2xl text-center font-bold md:w-3/5 mx-auto">Your Dream Driveway, Your Way</h3>
                                <RedLine class="md:w-3/5 mx-auto"/>
                                <p class="text-center text-black md:w-3/5 mx-auto"><span class="font-bold">Imagine a driveway that </span>reflects your style and keeps your home safe. Our services are tailored to your needs, whether it's a stunning new installation, precision repairs, or expert maintenance. We offer the complete package.
                                </p>
                            </div>
                            <div class="w-full mx-auto pb-12">
                                <img src="/driveway1.svg" alt="commercial tarmac company in kent"/>
                            </div>
                        </div>
                        <div class="flex-[100%_0_0]" data-at-show-target="pricing">
                            <div class="mx-auto pb-14">
                                <h3 class="text-2xl text-center font-bold md:w-3/5 mx-auto">Pricing</h3>
                                <RedLine class="md:w-3/5 mx-auto"/>
                                <p class="text-center text-black md:w-3/5 mx-auto"><span class="font-bold">When you choose Ashford Tarmac Contractors - </span> With our expert touch, you'll enjoy a driveway that's not just safe and functional but also a masterpiece. It's about more than aesthetics; it's about increased property value, safety, and the pride of having the best-looking driveway on the street.</p>
                            </div>
                            <div class="w-full mx-auto pb-12">
                                <img src="/driveway1.svg" alt="commercial tarmac company in kent"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-l border-gray-light border-solid w-12"></div>
    </div>
    <ServiceProcess title="The Process">
        <ServiceProcessItem title="Your Driveway Journey Simplified">
            <p slot="content">Worried about the process? Don't be. It's as easy as 1-2-3. Reach out to us, confirm your details, and leave the rest to us. From planning to the grand driveway finale, we've got you covered.</p>
            <img slot="image" src="/driveway8.svg" class="invert" alt="commercial tarmac company in kent"/>
        </ServiceProcessItem>
        <ServiceProcessItem title="Our Promise to You">
            <p slot="content">You've glimpsed the transformation. Now, let's turn that vision into reality. Your journey starts here. Take the first step towards your stunning new driveway.</p>
            <img slot="image" src="/driveway8.svg" class="invert" alt="commercial tarmac company in kent"/>
        </ServiceProcessItem>
        <ServiceProcessItem title="Your Driveway Vision is Just a Step Away">
            <p slot="content">Say goodbye to the uncertainty of dealing with unprofessional contractors and excessive charges. Choose Ashford Tarmac Contractors for expert advice, reliability, and affordability.</p>
            <img slot="image" src="/uni2-svg.png" alt="commercial tarmac company in kent"/>
        </ServiceProcessItem>
        <ServiceProcessItem title="The Cost of Making the Wrong Choice">
            <p slot="content">Opting for a lesser-known contractor can lead to subpar results, overcharging, and poor advice. Don't risk it. Choose a reliable and experienced contractor instead.</p>
            <img slot="image" src="/uni2-svg.png" alt="commercial tarmac company in kent"/>
        </ServiceProcessItem>
    </ServiceProcess>
    <!-- get estimate section -->
    <div class="flex bg-white">
        <div class="border-r border-gray-light border-solid w-12"></div>
            <div class="flex-1 flex-col items-center justify-center">
                <EstimateForm />
            </div>
        <div class="border-l border-gray-light border-solid w-12"></div>
    </div> 
    </BaseLayout>