---
import BaseLayout from '../layouts/BaseLayout.astro';
import Clients from '../components/Clients.astro';
import GetEstimateBtn from '../components/GetEstimateBtn.astro';
import EstimateForm from '../components/EstimateForm.astro';
import RedLine from '../components/RedLine.astro';
const pageTitle = "Tarmac Company in Kent - Ashford Tarmac";
---
<script>
    console.log(ScrollTrigger);
    import { gsap } from 'gsap';
    import ScrollTrigger from 'gsap/ScrollTrigger';
    gsap.registerPlugin(ScrollTrigger);
    gsap.to(".btext", {
    x: 600,
    scrollTrigger: {
    trigger: '.container',
    start: "clamp(top bottom)",
    scrub: 2,
    pin: '.pin',
    pinSpacing: false,
    markers:false,
    },
  });
    gsap.to(".btext2", {
    x: -600,
    scrollTrigger: {
    trigger: '.container',
    start: "clamp(top bottom)",
    scrub: 2,
    pin: '.pin',
    pinSpacing: false,
    markers:false,
    },
    });
// animation for the red background
const targetDiv = document.getElementById("target-div");
const observer = new IntersectionObserver((entries) => {
  entries.forEach((entry) => {
    if (entry.isIntersecting) {
      gsap.to(targetDiv, {
        duration: 1, // Adjust duration as needed
        css: { clipPath: "polygon(0 0, 100% 0, 100% 100%, 0 100%)" },
        ease: "power3.inOut" // Adjust easing if needed
      });
    }
  });
});
observer.observe(targetDiv);
</script>
<BaseLayout pageTitle={pageTitle}>
<!-- hero section --> 
<div class="flex">
    <div class="flex items-center justify-center border-r border-gray-dark border-solid w-12"></div>
    <div class="flex flex-1 p-1 h-[48rem] bg-[url('/driveway1.svg')] lg:bg-contain bg-fixed bg-no-repeat gap-0.5">
        <div class="flex flex-item items-center justify-center w-14 bg-black border border-gray-dark border-solid rounded-xl hover:bg-red text-gray hover:text-black">
            <h1 class="whitespace-nowrap rotate-90 uppercase text-xl font-light py-12">commercial tarmac services</h1>
        </div>
        <div class="flex-grow pt-24 px-12">
            <h2 class="text-red md:text-lg text-sm pb-2">Say Goodbye to Unreasonable Quotes & Unreliable Contractors</h2>
            <h3 class="text-white md:text-3xl text-xl font-bold normal-case">Transform your commercial space with quality tarmac</h3>
            <p class="text-sm text-white my-8 lg:pr-24">Welcome to Ashford Tarmac Contractors, where we pave the way for your commercial success. Is your commercial space in need of a new road or car park? Say goodbye to the frustration of searching for a reliable and reasonably priced contractor. </p>
            <GetEstimateBtn />
        </div>
        <div class="flex flex-item items-center justify-center w-14 bg-gray-dark rounded-xl text-gray hover:text-black hover:bg-red">
            <h1 class="whitespace-nowrap rotate-90 uppercase text-xl font-light py-12 ">domestic tarmac services</h1>
        </div>
        <div class="flex flex-item items-center justify-center w-14 bg-gray-light rounded-xl text-gray hover:text-black hover:bg-red">
            <h1 class="whitespace-nowrap rotate-90 uppercase text-xl font-light py-12 ">public sector tarmac services</h1>
        </div>
    </div>
    <div class="flex flex-col items-center justify-start w-12 border-l border-gray-dark border-solid">
        <p class="text-gray font-light text-lg">100%</p>
        <div class="min-w-0.5 min-h-16 bg-red"></div>
        <div class="min-w-0.5 min-h-16 bg-gray"></div>
        <div class="min-w-0.5 min-h-16 bg-gray-dark"></div>
    </div>
</div>
<Clients />
<!-- Red section (about) -->
<div class="flex bg-red" id="target-div">
    <div class="border-r border-red-dark border-solid w-12"></div>
    <div class="flex-1 flex-col items-center justify-center">
        <div class="flex flex-col items-start justify-center items-center py-6 bg-red">
            <p class="v-copy3 pr-2">about us</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
            </svg>
        </div>
        <div class="flex-col md:w-2/3">
            <h2 class="md:text-lg text-smh text-white pb-4 pt-12">Discover Our Kent Tarmac Legacy</h2>
            <h4 class="md:text-6xl text-3xl font-light">Ashford Tarmacadam Contractors is a Kent-based tarmac company with over 45 years of experience.</h4>
            <button class="bg-black hover:bg-white hover:text-black text-white font-medium tracking-wide py-2 pl-4 pr-2 my-6 rounded-full flex items-center">
                <a href="/about">About Ashford Tarmac</a>
                <span class="bg-red rounded-full p-2 ml-4">
                    <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                    </svg>
                </span>
            </button>
        </div>
        <div class="container w-full overflow-hidden">
            <div class="btext whitespace-nowrap md:text-7xl text-5xl text-gray font-bolder text-opacity-70 uppercase">ashford tarmac</div>
            <div class="btext2 whitespace-nowrap md:text-7xl text-5xl text-gray-dark font-bolder text-opacity-40 uppercase">driveways | roads</div>
        </div>
        <div class="bg-white md:w-3/5 flex"><p>&nbsp;</p></div>
    </div>
    <div class="border-l border-red-dark border-solid w-12"></div>
</div>
<!-- Service section -->
<div class="flex bg-white">
    <div class="flex items-center justify-center border-r border-gray-light border-solid w-12">
        <p class="v-copy text-gray py-2">New Driveways | Resurfacing Tarmac | Tarmac Repairs | Resin Bound & Bond</p>
    </div>
    <!-- Main -->
    <div class="flex-1 flex-col items-center justify-center">
        <div class="flex flex-col items-start justify-center items-center pb-4">
            <p class="v-copy2 pr-2">services</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
            </svg>
        </div>
    <!-- Image and text -->
    <div class="md:flex pb-12">
        <div class="md:w-3/5">
            <img src="/driveway1.svg" alt="Domestic Driveway Tarmac Services in Kent"/>
        </div>
        <div class="md:w-2/5 text-right">
                <h2 class="lg:text-lg text-gray pb-4">service sectors</h2>
                <h3 class="lg:text-3xl text-2xl font-bold text-gray-dark">domestic tarmac</h3>
                <h3 class="lg:text-3xl text-2xl font-bold text-black">commercial tarmac</h3>
                <h3 class="lg:text-3xl text-2xl font-bold text-gray">public sector tarmac</h3>
            <span class="thin-text text-gray">24%</span>
            <div class="border-t border-red ml-8 block"></div>
            <p class="md:pl-6 text-black">Transform your home with our expertise in domestic tarmac services. From crafting beautiful driveways to repairing and resurfacing, we've been enhancing curb appeal for 45 years. Our team's dedication and long-standing commitment to quality ensure your dream project will come to life.</p>
            <button class="ml-auto bg-red hover:bg-black text-white font-medium tracking-wide py-2 pl-4 pr-2 my-6 rounded-full flex items-center">
                <span>More information</span>
                <span class="bg-black rounded-full p-2 ml-4">
                    <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                    </svg>
                </span>
            </button>
        </div>
  </div>
    <!-- Get estimate -->
    <EstimateForm />
    <div class="flex flex-col items-start justify-center items-center pb-4 pt-12">
        <p class="v-copy2 pr-16">tarmac articles</p>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
        </svg>
    </div>
    </div><!--end of main -->
    <div class="border-l border-gray-light border-solid w-12 md:pt-24 pt-96">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-red">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg> 
    </div>
    <!-- CTA -->
</div>
<!-- blog archive --> 
<div class="flex bg-gray-dark">
    <div class="bg-gray-dark flex items-center justify-center w-12 border-r border-gray-border border-solid">
        <p class="v-copy4">our blog</p>
    </div>
    <div class="flex-1 flex md:items-center md:justify-center py-20">
    <!-- Main blog cards -->
        <div class="relative w-2/5 lg:w-1/4 ml-1 my-element">
          <div class="bg-gray-dark rounded-lg shadow-4xl">
            <div class="h-1/2">
                <img class="rounded-t-lg" src="/blog-placeholder.webp" alt="">
            </div>
            <div class="h-1/2 flex flex-col justify-between p-4">
              <h2 class="text-gray text-xl font-bold">Title</h2>
              <p class="text-white text-sm py-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white hover:text-red">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
              </svg>
            </div>
          </div>
        </div>
        <div class="relative w-2/5 lg:w-1/4 -ml-20 my-element">
          <div class="bg-gray-dark rounded-lg shadow-4xl">
            <div class="h-1/2">
                <img class="rounded-t-lg" src="/blog-placeholder.webp" alt="">
            </div>
            <div class="h-1/2 flex flex-col justify-between p-4">
                <h2 class="text-gray text-xl font-bold">Title</h2>
                <p class="text-white text-sm py-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white hover:text-red">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </div>
          </div>
        </div>
        <div class="relative w-2/5 lg:w-1/4 -ml-20 my-element">
          <div class="bg-gray-dark rounded-lg shadow-4xl">
            <div class="h-1/2">
                <img class="rounded-t-lg" src="/blog-placeholder.webp" alt="">
            </div>
            <div class="h-1/2 flex flex-col justify-between p-4">
                <h2 class="text-gray text-xl font-bold">Title</h2>
                <p class="text-white text-sm py-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white hover:text-red">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </div>
          </div>
        </div>
        <div class="relative w-2/5 lg:w-1/4 -ml-20 my-element">
          <div class="bg-gray-dark rounded-lg shadow-4xl">
            <div class="h-1/2">
                <img class="rounded-t-lg" src="/blog-placeholder.webp" alt="">
            </div>
            <div class="h-1/2 flex flex-col justify-between p-4">
                <h2 class="text-gray text-xl font-bold">Title</h2>
                <p class="text-white text-sm py-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white hover:text-red">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </div>
          </div> 
        </div>
        <div class="relative w-2/5 lg:w-1/4 -ml-20 mr-1 my-element">
          <div class="bg-gray-dark rounded-lg shadow-4xl">
            <div class="h-1/2">
                <img class="rounded-t-lg" src="/blog-placeholder.webp" alt="">
            </div>
            <div class="h-1/2 flex flex-col justify-between p-4">
                <h2 class="text-gray text-xl font-bold">Title</h2>
                <p class="text-white text-sm py-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white hover:text-red">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </div>
          </div>
        </div>
    </div>
    <!-- empty right gutter -->
    <div class="bg-gray-dark flex items-center justify-center w-12 border-l border-gray-border border-solid"></div>
</div>
</BaseLayout>