---
import BaseLayout from '../layouts/BaseLayout.astro';
import Clients from '../components/Clients.astro';
import GetEstimateBtn from '../components/GetEstimateBtn.astro';
import EstimateForm from '../components/EstimateForm.astro';
import RedLine from '../components/RedLine.astro';
const pageTitle = "Tarmac Company in Kent - Ashford Tarmac";
---

<BaseLayout pageTitle={pageTitle}>
<!-- hero section --> 
<div class="flex bg-[url('/hero.webp')] bg-top bg-no-repeat bg-fixed ">
    <div class="flex items-center justify-center w-12 border-r border-gray-dark border-solid"></div>
    <div class="flex-1 lg:flex lg:items-center lg:justify-center lg:py-24 py-14">
        <div class="lg:w-3/5 w-full">
            <h1 class="md:text-lg text-smh text-red uppercase">Creating safer playgrounds & efficient car parks</h1>
            <h2 class="md:text-3xl text-2xl text-white font-bold">Enhance public spaces with quality surfacing</h2>
            <p class="my-8 lg:pr-24">We understand that public spaces are the heart of our communities, and we're here to help you make them even better. At Ashford Tarmac, we specialise in surfacing solutions that go beyond the ordinary. Whether it's crafting safe and vibrant playgrounds or creating efficient car parks, we bring your vision to life with top-quality workmanship.</p>
            <GetEstimateBtn />
        </div>
        <div class="lg:w-2/5 lg:flex lg:justify-end h-64 md:mt-12 flex pt-12">
            <div class="border-b border-red-dark border-solid bg-[url('/commercial-tarmac-services-1.webp')] bg-top h-full bg-no-repeat md:bg-left flex flex-col justify-end">
                <p class="text-white uppercase md:text-xl font-medium px-4 pb-2 md:pb-4">commercial services</p>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center w-12 border-l border-gray-dark border-solid">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-red">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>   
    </div>
</div>
<Clients />
<!-- Red section (about) -->
<div class="flex bg-red">
    <div class="border-r border-red-dark border-solid w-12"></div>
    <div class="flex-1 flex-col items-center justify-center bg-red">
        <div class="flex flex-col items-start justify-center items-center pb-4">
            <p class="v-copy3">about us</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white mt-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
            </svg>
        </div>
        <div class="flex-col md:w-2/3">
            <h2 class="md:text-lg text-smh uppercase text-white pb-4 pt-12">Discover Our Kent Tarmac Legacy</h2>
            <h4 class="text-3xl md:text-6xl text-2xl font-light text-black">Ashford Tarmacadam Contractors is a Kent-based tarmac company with over 45 years of experience.</h4>
            <button class="bg-black hover:bg-white hover:text-black text-white font-medium tracking-wide py-2 pl-4 pr-2 my-6 rounded-full flex items-center">
                <a href="/about">About Ashford Tarmac</a>
                <span class="bg-red rounded-full p-2 ml-4">
                    <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                    </svg>
                </span>
            </button>
        </div>
        <div class="md:text-7xl font-black text-6xl uppercase text-gray text-opacity-70 text-right"><span>ashford tarma</span></div>
        <div class="md:text-7xl font-black text-6xl uppercase text-gray-dark text-opacity-40"><span>driveways | car </span></div>
        <div class="bg-white w-3/5 py-12 flex"><p>&nbsp;</p></div>
    </div>
    <div class="border-l border-red-dark border-solid w-12"></div>
</div>
<!-- New Service section (about) -->
<div class="flex bg-white"><!-- service wrapper -->
    <div class="flex items-center justify-center border-r border-gray-light border-solid w-12">
        <p class="v-copy text-gray py-2">New Driveways | Resurfacing Tarmac | Tarmac Repairs | Resin Bound & Bond</p>
    </div>
    <!-- Main -->
    <div class="flex-1 flex-col items-center justify-center">
        <div class="flex flex-col items-start justify-center items-center pb-4">
            <p class="v-copy2">services</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red mt-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
            </svg>
        </div>
    <!-- Image and text -->
    <div class="md:flex">
        <div class="md:w-3/5">
            <img src="/driveway1.svg" alt="Domestic Driveway Tarmac Services in Kent"/>
        </div>
        <div class="md:w-2/5 text-right">
                <h2 class="text-lg lg:text-lg uppercase text-gray pb-4">service sectors</h2>
                <h3 class="text-xl font-black lg:text-3x2 uppercase text-red pb-0">domestic tarmac</h3>
                <h3 class="text-xl font-black lg:text-3x2 uppercase text-black pb-0">commercial tarmac</h3>
                <h3 class="text-xl font-black lg:text-3x2 uppercase text-gray pb-0">public sector tarmac</h3>
            <span class="thin-text text-gray">24%</span>
            <div class="border-t border-red ml-8 "><p>&nbsp;</p></div>
            <p class="md:pl-6 text-black">Transform your home with our expertise in domestic tarmac services. From crafting beautiful driveways to repairing and resurfacing, we've been enhancing curb appeal for 45 years. Our team's dedication and long-standing commitment to quality ensure your dream project will come to life.</p>
            <button class="ml-auto bg-red hover:bg-black text-white font-medium tracking-wide py-2 pl-4 pr-2 my-6 rounded-full flex items-center">
                <span>Get a Tarmac Estimate</span>
                <span class="bg-black rounded-full p-2 ml-4">
                    <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                    </svg>
                </span>
            </button>
        </div>
    </div>
    <!-- Get estimate -->
    <EstimateForm />
    <div class="flex flex-col items-start justify-center items-center pb-4 pt-12">
        <p class="v-copy2">tarmac articles</p>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red mt-16">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
        </svg>
    </div>
    </div><!--end of main -->
    <div class="border-l border-gray-light border-solid w-12 md:pt-24 pt-96">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-red">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg> 
    </div>
    <!-- CTA -->
</div>
<!-- blog archive --> 
<div class="flex bg-gray-dark">
    <div class="bg-gray-dark flex items-center justify-center w-12 border-r border-gray-border border-solid">
        <p class="v-copy4">our blog</p>
    </div>
    <div class="flex-1 flex md:items-center md:justify-center py-20">
    <!-- Main blog cards -->
        <div class="relative w-2/5 lg:w-1/4 ml-1 my-element">
          <div class="bg-gray-dark rounded-lg shadow-4xl">
            <div class="h-1/2">
                <img class="rounded-t-lg" src="/blog-placeholder.webp" alt="">
            </div>
            <div class="h-1/2 flex flex-col justify-between p-4">
              <h2 class="text-gray text-xl font-bold">Title</h2>
              <p class="text-white text-sm py-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white hover:text-red">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
              </svg>
            </div>
          </div>
        </div>
        <div class="relative w-2/5 lg:w-1/4 -ml-20 my-element">
          <div class="bg-gray-dark rounded-lg shadow-4xl">
            <div class="h-1/2">
                <img class="rounded-t-lg" src="/blog-placeholder.webp" alt="">
            </div>
            <div class="h-1/2 flex flex-col justify-between p-4">
                <h2 class="text-gray text-xl font-bold">Title</h2>
                <p class="text-white text-sm py-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white hover:text-red">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </div>
          </div>
        </div>
        <div class="relative w-2/5 lg:w-1/4 -ml-20 my-element">
          <div class="bg-gray-dark rounded-lg shadow-4xl">
            <div class="h-1/2">
                <img class="rounded-t-lg" src="/blog-placeholder.webp" alt="">
            </div>
            <div class="h-1/2 flex flex-col justify-between p-4">
                <h2 class="text-gray text-xl font-bold">Title</h2>
                <p class="text-white text-sm py-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white hover:text-red">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </div>
          </div>
        </div>
        <div class="relative w-2/5 lg:w-1/4 -ml-20 my-element">
          <div class="bg-gray-dark rounded-lg shadow-4xl">
            <div class="h-1/2">
                <img class="rounded-t-lg" src="/blog-placeholder.webp" alt="">
            </div>
            <div class="h-1/2 flex flex-col justify-between p-4">
                <h2 class="text-gray text-xl font-bold">Title</h2>
                <p class="text-white text-sm py-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white hover:text-red">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </div>
          </div> 
        </div>
        <div class="relative w-2/5 lg:w-1/4 -ml-20 mr-1 my-element">
          <div class="bg-gray-dark rounded-lg shadow-4xl">
            <div class="h-1/2">
                <img class="rounded-t-lg" src="/blog-placeholder.webp" alt="">
            </div>
            <div class="h-1/2 flex flex-col justify-between p-4">
                <h2 class="text-gray text-xl font-bold">Title</h2>
                <p class="text-white text-sm py-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-white hover:text-red">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
            </div>
          </div>
        </div>
    </div>
    <!-- empty right gutter -->
    <div class="bg-gray-dark flex items-center justify-center w-12 border-l border-gray-border border-solid"></div>
</div>  
</BaseLayout>
