---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
<div class="content-wrapper">
	<h2>My Awesome blog subtitle</h2>
	<p>Hello World's</p>
</div>
</BaseLayout>