---
import BaseLayout from '../layouts/BaseLayout.astro';
import GetEstimateBtn from '../components/GetEstimateBtn.astro';
import RedLine from '../components/RedLine.astro';
import EstimateForm from '../components/EstimateForm.astro';
import ServiceProcess from '../components/ServiceProcess.astro';
import ServiceProcessItem from '../components/ServiceProcessItem.astro';
const pageTitle = "Ashford Tarmac Contractors | Trusted Public Sector Tarmac Solutions";
const pageDescription = "Partner with Ashford Tarmac Contractors for expert public sector tarmac solutions. Specializing in playgrounds, car parks, and roads for health and education sectors. Contact us today!";
const pageKeywords = "Public Sector Tarmac Contractor, Ashford Tarmac Contractors, Expert Solutions, Playgrounds, Car Parks, Roads, Health Sector, Education Sector";
---
<script>
import {scrolltrigger_text, service_tabs} from '../scripts/animation'
(async () => {
  scrolltrigger_text(document.getElementById('at-stc1'), document.getElementById('at-stc1-a'))
  service_tabs(document.getElementById('at-tabs'))
})()
</script>
<BaseLayout pageTitle = {pageTitle}, pageDescription = {pageDescription}, pageKeywords = {pageKeywords}>
    <!-- hero section --> 
    <div class="flex bg-white bg-[url('/case-studies/public-sector/tarmacadam-carpark-ashford-min.webp')] bg-no-repeat bg-[10%_10%] bg-cover h-[50rem] relative">
        <div class="border-r border-gray-light border-solid w-12 bg-white md:bg-transparent z-[2]"></div>
        <div class="absolute w-full border-white h-[50rem] border-t-[14rem] border-l-[14rem]" />
        <div class="flex-1 flex-col items-center justify-center relative">
            <div class="w-3/5 pt-24">
                <h2 class="md:text-lg text-sm font-bold pb-2 text-gray">Expert advice for schools, hospitals and other public sectors</h1>
                <h1 class="md:text-3xl text-2xl font-bold">Already trusted by the public sector having completed many projects over 40 years</h1>
                <p class="text-black my-8 lg:pr-24">Welcome to Ashford Tarmac Contractors, your dedicated partner for public sector tarmac needs. If you're in the health or education sector and require expert advice and top-notch solutions for playgrounds, car parks, or roads, you're in the right place. Click now to schedule your expert consultation.</p>                        <GetEstimateBtn />
            </div>
        </div>
        <div class="border-l border-gray-light border-solid w-12 z-[2]"></div>
    </div>
    <!-- challenge section -->
    <div class="flex min-h-[40rem] bg-black">
        <div class="border-r border-gray-dark border-solid w-12"></div>
        <div class="flex-1 flex-col bg-black">
            <div class="flex flex-col items-start justify-center items-center pb-4">
                <p class="v-copy2">the challenge</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red mt-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
                </svg>
            </div>
            <div id="at-stc1" class="grid md:grid-cols-2 grid-cols-1 bg-black">
                <div class="pb-48">
                    <h2 class="md:text-lg text-smh text-gray">Challenges in Public Sector Tarmac Projects</h2>
                    <h4 class="md:text-6xl text-4xl text-white font-light pb-6">We understand<br />the challenge.</h4>
                    <p class="text-white">Finding a reputable and trustworthy contractor for your commercial tarmac needs at the right price can be daunting. You need a new road or car park, but the search for the right contractor seems never-ending.</p>
                    <p class="text-white">We understand the unique challenges public sector clients face. The need for safe and efficient playgrounds, car parks, and roads is paramount, but finding a trusted advisor can be daunting.</p>
                </div>
                <div class="overflow-hidden h-[100%]">
                    <div id="at-stc1-a" class="text-white text-7xl font-bold -rotate-90 uppercase opacity-30 whitespace-nowrap" data-at-scroll-pos="-30rem"><span class="ml-[-100rem]">Your Expert Advisor Since 1979</span></div>
                </div>
            </div>
        </div>
        <div class="border-l border-gray-dark border-solid w-12"></div>
    </div>
    <!-- solution section -->
    <div class="flex bg-white" id="at-tabs">
        <div class="border-r border-gray-light border-solid w-12"></div>
        <div class="flex-1 flex-col items-center justify-center">
            <div class="flex flex-col items-start justify-center items-center pb-4">
                <p class="v-copy2">solving the challenge</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red mt-16">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
                </svg>
            </div>
            <div>
                <!-- tabbed content --> 
                <div class="flex items-center relative justify-center mx-auto md:max-w-96 w-72 mb-12 bg-gray rounded-full uppercase text-lg font-bold text-white">
                    <div class="absolute left-0 w-[9rem] h-[100%] rounded-full bg-gray-dark"></div>
                    <div class="flex items-center justify-center w-48 h-12 rounded-full relative cursor-pointer" data-at-show="solution">
                        <p class="">solution</p>
                    </div>
                    <div class="flex items-center justify-center w-48 h-12 rounded-full relative cursor-pointer" data-at-show="pricing">
                        <p class="">pricing</p>
                    </div>
                </div>
                <!-- tabs -->
                <div class="relative overflow-hidden">
                    <div class="relative flex flex-row">
                        <div class="flex-[100%_0_0]" data-at-show-target="solution">
                            <div class="mx-auto pb-14">
                                <h3 class="md:text-3xl text-2xl uppercase font-bold text-center md:w-3/5 mx-auto">The Solution</h1>
                                <RedLine class="md:w-3/5 mx-auto"/>
                                <p class="text-center text-black md:w-3/5 mx-auto"><span class="font-bold">Tailored Tarmac Solutions for Public Sector Excellence</span> <br />Imagine having an expert partner for your public sector tarmac projects. Whether it's a playground, car park, or road, our services are tailor-made to ensure excellence in safety and functionality.</p>
                            </div>
                            <div class="w-full mx-auto pb-12">
                                <img src="/uni1.svg" alt="commercial tarmac company in kent"/>
                            </div>
                        </div>
                        <div class="flex-[100%_0_0]" data-at-show-target="pricing">
                            <div class="mx-auto pb-14">
                                <h3 class="md:text-3xl text-2xl uppercase font-bold text-center md:w-3/5 mx-auto">Pricing</h3>
                                <RedLine class="md:w-3/5 mx-auto"/>
                                <p class="text-center text-black md:w-3/5 mx-auto"><span class="font-bold">When you choose Ashford Tarmac Contractors - </span> When you choose Ashford Tarmac Contractors for your public sector projects, you gain access to expert advice that ensures the highest standards of safety and efficiency. Say goodbye to uncertainties and delays.</p>
                            </div>
                            <div class="w-full mx-auto pb-12">
                                <img src="/uni1.svg" alt="commercial tarmac company in kent"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <div class="border-l border-gray-light border-solid w-12"></div>
    </div>
    <!-- process section-->
    <ServiceProcess title="The Process">
        <ServiceProcessItem title="Your Roadmap to Public Sector Success">
            <p slot="content">Wondering about the process? We've simplified it for public sector clients: 1. Get in touch. 2. Share project details. 3. Receive expert consultation and a tailored plan.</p>
            <img slot="image" src="/uni2-svg.png" alt="commercial tarmac company in kent"/>
        </ServiceProcessItem>
        <ServiceProcessItem title="Our Commitment to Public Sector Excellence">
            <p slot="content">We're committed to delivering excellence in public sector projects. Our promise includes expert guidance, safety, and efficiency, all backed by our years of knowledge.</p>
            <img slot="image" src="/uni2-svg.png" alt="commercial tarmac company in kent"/>
        </ServiceProcessItem>
        <ServiceProcessItem title="The Cost of Inexpert Advice">
            <p slot="content">Opting for inexpert advice can lead to project setbacks, safety concerns, and inefficiencies. Don't compromise. Choose expert guidance for your public sector projects.</p>
            <img slot="image" src="/uni2-svg.png" alt="commercial tarmac company in kent"/>
        </ServiceProcessItem>
        <ServiceProcessItem title="From Uncertainty to Public Sector Excellence">
            <p slot="content">Say goodbye to uncertainty and delays. Transform your public sector projects into a benchmark of excellence with the expert guidance of Ashford Tarmac Contractors.</p>
            <img slot="image" src="/uni2-svg.png" alt="commercial tarmac company in kent"/>
        </ServiceProcessItem>
    </ServiceProcess>
    <!-- get estimate section -->
    <div class="flex bg-white">
        <div class="border-r border-gray-light border-solid w-12"></div>
            <div class="flex-1 flex-col items-center justify-center">
                <EstimateForm />
            </div>
        <div class="border-l border-gray-light border-solid w-12"></div>
    </div> 
    
    </BaseLayout>
