---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Styel Guide";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="grid gap-4 grid-cols-2 grid-rows-13  bg-white text-black px-10 py-10">
        <!-- 2 cols and 13 rows for each html style element -->
        <span><h1>H1</h1></span>
        <span><h1>Rapid Tarmac Estimate</h1></span>
        <span><h1>H1 v2</h1></span>
        <span><h1>Discovery our kent tarmac legacy</h1></span>
        <span><h2>H2</h2></span>
        <span><h2>SEND a tarmac estimate in under 30 seconds!</h2></span>
        <span><h3>H3</h3></span>
        <span><h3>Commercial Tarmac</h3></span>
        <span><h4>H4</h4></span>
        <span><h4>Get in touch today and speak with our experts.</h4></span>
        <span><h5>H5</h5></span>
        <span><h5>Ashford</h5></span>
        <span><h6>H6</h6></span>
        <span><h6>More Links</h6></span>
        <span class="thin-text">Thin Text</span>
        <span>Rapid Tarmac Estimate</span>
        <span>Next page</span>
        <span> Next Page ----></span>
        <span>Primary Button</span>
        <span>Get Tarmac Estimate</span>
        <span>Secondary Button</span>
        <span>Get Tarmac Estimate </span>
        <span>Tile 1</span>
        <span>Tile 1</span>
        <span>Tile 2</span>
        <span>Tile 2</span>
      </div>
</BaseLayout>