---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Style Guide";
---

<BaseLayout pageTitle={pageTitle}>
<div class="grid gap-4 grid-cols-2 grid-rows-14  bg-white text-black px-10 py-10">
  <!-- 2 cols and 13 rows for each html style element -->
  <span><p>P</p></span>
  <span><p>Checkout our handy work from driveways and roads to car parks and communal areas. Checkout our handy work from driveways and roads to car parks and communal areas. Checkout our handy work from driveways and roads to car parks and communal areas. Checkout our handy work from driveways and roads to car parks and communal areas. Checkout our handy work from driveways and roads to car parks and communal areas. Checkout our handy work from driveways and roads to car parks and communal areas.</p></span>
  <span><h1>H1</h1></span>
  <span><h1>Rapid Tarmac Estimate</h1></span>
  <span><h1 class="v2">H1 v2</h1></span>
  <span><h1 class="v2">Discovery our kent tarmac legacy</h1></span>
  <span><h2>H2</h2></span>
  <span><h2>SEND a tarmac estimate in under 30 seconds!</h2></span>
  <span><h3>H3</h3></span>
  <span><h3>Commercial Tarmac</h3></span>
  <span><h4>H4</h4></span>
  <span><h4>Get in touch today and speak with our experts.</h4></span>
  <span><h5>H5</h5></span>
  <span><h5>Ashford</h5></span>
  <span><h6>H6</h6></span>
  <span><h6>More Links</h6></span>
  <span class="thin-text">Thin Text</span>
  <span class="thin-text">Rapid Tarmac Estimate</span>
  <span class="next-page">Next page</span>
  <span class="next-page"> Next Page ----></span>
  <span class="p_btn">Primary Button</span>
  <span class="p_btn">Get Tarmac Estimate</span>
  <span class="s_btn">Secondary Button</span>
  <span class="s_btn">Get Tarmac Estimate </span>
  <span class="tile1">Tile 1</span>
  <span class="tile1">Tile 1</span>
  <span class="tile2">Tile 2</span>
  <span class="tile2">Tile 2</span>
</div>

</BaseLayout>