---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Style Guide";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col h-screen bg-white bg-[url('prefooterbackground.svg')] bg-no-repeat bg-bottom pl-12 pt-10">
    <div class="flex flex-row">
      <div class="w-3/5">
        <div class="flex flex-col justify-start">
          <div class="min-w-0"><h2 class="text-[var(--r)]">Customer satisfaction is out highest priority</h2></div>
          <div class="min-w-0 pb-10"><h4>Get In touch today and speak with our experts.</h4></div>
          <div class="flex flex-row gap-8 items-end min-h-60" >
            <div class="w-1/3 border-red-500 border-r-2 flex flex-col items-center pt-24">
              <span class="text-7xl mx-auto text-[var(--dg)] font-medium pb-4">100%</span>
              Client Satisfaction
            </div>        
            <div class="w-1/3 border-red-500 border-r-2 flex flex-col items-center pt-24">
              <span class="text-7xl mx-auto text-[var(--dg)] font-medium">30</span><span class="v-copy-sup">years</span>
              Experienced Team
            </div>
            <div class="w-1/3 flex flex-col items-center">
              <span class="text-7xl text-[var(--dg)] font-medium">45</span><span class="v-copy-sup">years</span>
              Family run business
            </div>
          </div>
        </div>
      </div>
      <div class="w-2/5 text-white pr-12">
        <div class="flex flex-row gap-x-4">
          <div class="w-1/2 space-y-4 pt-20">
            <div class="bg-[var(--lg)] rounded-lg p-4 pb-10">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
              </svg>      
              <h3 class="pt-8 pb-0">One Click</h3>
              <p class="text-lg uppercase font-bold pb-8">Call Now</p>
              Let's chat...                
              <img src="cta-icon.svg" class="float-right" alt="Call to action icon"/> 
            </div>
            <div class="bg-[var(--b)] rounded-lg p-4 pb-10">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
              </svg>   
              <h3 class="pt-8">Reviews</h3>
              <p class="text-lg uppercase font-bold pb-8">Leeds Castle</p>
              "Many thanks for such an excellent job. I have no hesitation in recommending you to anyone who asks"          
              <img src="cta-icon.svg" class="float-right" alt="Call to action icon"/>          
            </div>
          </div>
          <div class="w-1/2 space-y-4 pt-10">
            <div class="bg-[var(--r)] rounded-lg p-4 pb-10">
              <svg class="w-14 h-14" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6l4 2"/>
              </svg>        
              <h3 class="pt-8">Callback</h3>
              <p class="text-lg uppercase font-bold pb-8">Schedule</p>
              [form]             
              <img src="cta-icon.svg" class="float-right" alt="Call to action icon"/> 
            </div>
            <div class="bg-[var(--dg)] rounded-lg p-4 pb-10">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
              </svg>        
              <h3 class="pt-8">Email Us</h3>
              <p class="text-lg uppercase font-bold pb-8">"Write Now" ;)</p>
              Send your info          
              <img src="cta-icon.svg" class="float-right" alt="Call to action icon"/>                             
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  
  
  
  
   
    <div class="grid gap-4 grid-cols-2 grid-rows-14  bg-white text-black px-10 py-10">
        <!-- 2 cols and 13 rows for each html style element -->
        <span><p>P</p></span>
        <span><p>Checkout our handy work from driveways and roads to car parks and communal areas. Checkout our handy work from driveways and roads to car parks and communal areas. Checkout our handy work from driveways and roads to car parks and communal areas. Checkout our handy work from driveways and roads to car parks and communal areas. Checkout our handy work from driveways and roads to car parks and communal areas. Checkout our handy work from driveways and roads to car parks and communal areas.</p></span>
        <span><h1>H1</h1></span>
        <span><h1>Rapid Tarmac Estimate</h1></span>
        <span><h1 class="v2">H1 v2</h1></span>
        <span><h1 class="v2">Discovery our kent tarmac legacy</h1></span>
        <span><h2>H2</h2></span>
        <span><h2>SEND a tarmac estimate in under 30 seconds!</h2></span>
        <span><h3>H3</h3></span>
        <span><h3>Commercial Tarmac</h3></span>
        <span><h4>H4</h4></span>
        <span><h4>Get in touch today and speak with our experts.</h4></span>
        <span><h5>H5</h5></span>
        <span><h5>Ashford</h5></span>
        <span><h6>H6</h6></span>
        <span><h6>More Links</h6></span>
        <span class="thin-text">Thin Text</span>
        <span class="thin-text">Rapid Tarmac Estimate</span>
        <span class="next-page">Next page</span>
        <span class="next-page"> Next Page ----></span>
        <span class="p_btn">Primary Button</span>
        <span class="p_btn">Get Tarmac Estimate</span>
        <span class="s_btn">Secondary Button</span>
        <span class="s_btn">Get Tarmac Estimate </span>
        <span class="tile1">Tile 1</span>
        <span class="tile1">Tile 1</span>
        <span class="tile2">Tile 2</span>
        <span class="tile2">Tile 2</span>
      </div>

</BaseLayout>