---
import BaseLayout from '../layouts/BaseLayout.astro';
import GetEstimateBtn from '../components/GetEstimateBtn.astro';
import RedLine from '../components/RedLine.astro';
import EstimateForm from '../components/EstimateForm.astro';
const pageTitle = "Commercial Tarmac Contractor in Kent, car parks, roads, pathways";
const text = "Back to case studies";
---

<BaseLayout pageTitle={pageTitle}>
<!-- hero section --> 
<div class="flex bg-[url('/ground-work-tarmac-project-kent2.webp')] bg-no-repeat">
    <div class="flex items-center justify-center border-r border-gray border-solid w-12 bg-black bg-opacity-80">
        <p class="v-copy text-gray py-2">SERVICE SECTOR: DOMESTIC | PROJECT: DRIVEWAY | SURFACE: RESIN BOUND</p>
    </div>
    <div class="flex-1 flex-col items-center justify-center bg-black bg-opacity-30">
        <div class="grid grid-cols-2 h-[40rem] items-center relative">
            <div class="h-full bg-black bg-opacity-80"></div>
            <h1 class="uppercase md:text-7xl text-6xl font-bold md:font-bolder text-white col-span-2 text-center absolute inset-x-0 top-1/2 transform -translate-y-1/2">resin<br /><span class="underline decoration-red">bound</span></h1>
        </div>                           
    </div>
    <div class="border-l border-gray border-solid w-12 bg-black bg-opacity-30"></div>
</div>
  <!-- project details section --> 
<div class="flex bg-[url('/ground-work-tarmac-project-kent2.webp')] bg-no-repeat bg-cover">
    <div class="border-r border-gray-dark md:border-gray border-solid w-12 bg-black bg-opacity-80 md:bg-opacity-30"></div>
    <div class="flex-1 flex-col items-center justify-center">
        <div class="grid md:grid-cols-2 grid-cols-1 min-h-[40rem]">
            <div class="md:col-span-1 h-full pt-16 md:pr-12 pb-4 md:pb-0 bg-black bg-opacity-80 md:bg-opacity-30 flex flex-col justify-end md:justify-start">
                <h2 class="text-3xl text-white">Project details</h2>
                <RedLine />
            </div>
            <div class="md:col-span-1 h-full bg-black bg-opacity-80 text-white flex flex-col items-center justify-center pb-16 md:py-24 md:pl-12 md:pr-8">
                <p class="text-base">This project was to replace an existing gravel driveway at a residential property. After having a gravel driveway for many years, the client had decided that they required a more practical surface. They favored the lighter, more natural appearance of gravel but were tired of finding loose stones in their house and cars!</p>
                <p class="text-base">The residential driveway led to a property situated on the Kent & Sussex border. The existing loose surface was removed, and the existing sub base prepared. New charcoal Block Edging Kerbs were installed together with a “double band” of Block Paviors to the perimeter of the driveway. A new Open Textured Surface Course was laid to a 70mm depth, and the final surface layer was 18mm depth of Resin Bound Aggregate. The client's choice of color was “natural gravel” with a charcoal-colored band laid to the edge of the granite setts to enhance the overall effect.</p>
            </div>            
        </div>                                
    </div>
    <div class="flex items-center justify-center border-l border-gray border-solid w-12 bg-black bg-opacity-80"></div>
</div>
<!-- gallery section -->
<div Class="grid grid-cols-4 grid-row-4 bg-white">
    <div Class="col-span-1 row-span-1 bg-[url('/hero.webp')] bg-no-repeat rounded-lg min-h-48">01</div>
    <div Class="col-span-1 row-span-1 bg-[url('/hero.webp')] bg-no-repeat rounded-lg min-h-48">02</div>
    <div Class="col-span-2 row-span-1 bg-[url('/hero.webp')] bg-no-repeat rounded-lg min-h-48">03</div>

    <div Class="col-span-2 row-span-2 bg-[url('/hero.webp')] bg-no-repeat rounded-lg min-h-96">04</div>
    <div Class="col-span-1 row-span-2 bg-[url('/hero.webp')] bg-no-repeat rounded-lg min-h-96">05</div>
    <div Class="col-span-1 row-span-2 bg-[url('/hero.webp')] bg-no-repeat rounded-lg min-h-96">06</div>

    <div Class="col-span-1 row-span-1 bg-[url('/hero.webp')] bg-no-repeat rounded-lg min-h-48">08</div>
    <div Class="col-span-2 row-span-1 bg-[url('/hero.webp')] bg-no-repeat rounded-lg min-h-48">07</div>
    <div Class="col-span-1 row-span-1 bg-[url('/hero.webp')] bg-no-repeat rounded-lg min-h-48">10</div>    
</div>  
<!-- comment section -->
<div class="flex bg-white bg-[url('/case-study.webp')] bg-no-repeat bg-right-bottom h-[50rem]">
    <div class="border-r border-gray-light border-solid w-12 bg-white md:bg-transparent"></div>
        <div class="flex-1 flex-col items-center justify-center">
            <div class="h-full w-1/2 pt-48 pb-96 pr-6 md:pr-0 bg-white md:bg-transparent">
                <span class="font-bold text-2xl">“After having a gravel driveway for many years the client had decided that they required a more practical surface...”</span>
                <RedLine />
            </div>
        </div>
    <div class="border-l border-gray-light border-solid w-12"></div>
</div>
<div class="flex bg-white">
    <div class="border-r border-gray-light border-solid w-12"></div>
        <div class="flex-1 flex-col items-center justify-center">
            <div class="flex flex-items-center justify-center py-12">
                <GetEstimateBtn {text}/>
            </div>
        </div>
    <div class="border-l border-gray-light border-solid w-12"></div>
</div>
</BaseLayout>
