---
import BaseLayout from '../layouts/BaseLayout.astro';
import GetEstimateBtn from '../components/GetEstimateBtn.astro';
import RedLine from '../components/RedLine.astro';
import EstimateForm from '../components/EstimateForm.astro';
const pageTitle = "Commercial Tarmac Contractor in Kent, car parks, roads, pathways";
---

<BaseLayout pageTitle={pageTitle}>
    <!-- hero section --> 
<div class="flex bg-[url('/ground-work-tarmac-project-kent2.webp')] bg-no-repeat">
    <div class="flex items-center justify-center border-r border-gray-dark border-solid w-12 bg-black bg-opacity-90">
        <p class="v-copy text-gray py-2">SERVICE SECTOR: DOMESTIC | PROJECT: DRIVEWAY | SURFACE: RESIN BOUND</p>
    </div>
    <div class="flex-1 flex-col items-center justify-center">
        <div class="grid grid-cols-2 h-[40rem] items-center relative">
            <div class="h-full bg-black bg-opacity-90"></div>
            <h1 class="uppercase md:text-7xl text-6xl font-bold md:font-bolder text-white col-span-2 text-center absolute inset-x-0 top-1/2 transform -translate-y-1/2">resin<br /><span class="underline decoration-red">bound</span></h1>
        </div>                                    
    </div>
    <div class="border-l border-gray border-solid w-12"></div>
</div>
  <!-- ? section --> 
<div class="flex bg-[url('/ground-work-tarmac-project-kent2.webp')] bg-no-repeat">
    <div class="border-r border-gray-light border-solid w-12"></div>
    <div class="flex-1 flex-col items-center justify-center">
        <div class="grid grid-cols-2 h-[40rem]">
            <div class="col-span-1 h-full">

            </div>
            <div class="col-span-1 h-full bg-black bg-opacity-90 text-white flex flex-col items-center justify-center px-24">
                <p class="pb-8">This project was to replace an existing gravel driveway at a residential property. After having a gravel driveway for many years, the client had decided that they required a more practical surface. They favored the lighter, more natural appearance of gravel but were tired of finding loose stones in their house and cars!</p>
                <p>The residential driveway led to a property situated on the Kent & Sussex border. The existing loose surface was removed, and the existing sub base prepared. New charcoal Block Edging Kerbs were installed together with a “double band” of Block Paviors to the perimeter of the driveway. A new Open Textured Surface Course was laid to a 70mm depth, and the final surface layer was 18mm depth of Resin Bound Aggregate. The client's choice of color was “natural gravel” with a charcoal-colored band laid to the edge of the granite setts to enhance the overall effect.</p>
            </div>            
        </div>                                    
    </div>
    <div class="flex items-center justify-center border-l border-gray-dark border-solid w-12 bg-black bg-opacity-90"></div>
</div>
</BaseLayout>
<!-- ? section --> 