---
import BaseLayout from '../layouts/BaseLayout.astro';
import Clients from '../components/Clients.astro';
import GetEstimateBtn from '../components/GetEstimateBtn.astro';
import EstimateForm from '../components/EstimateForm.astro';
import RedLine from '../components/RedLine.astro';
const pageTitle = "Tarmac Case Studies | Domestic, Commercial & Public Sector Projects";
const pageDescription = "Explore our collection of tarmac case studies showcasing projects across domestic, commercial, and public sector clients. Get insights into our client satisfaction and experienced team.";
const pageKeywords = "Tarmac Case Studies, Domestic Projects, Commercial Projects, Public Sector Projects, Client Satisfaction, Experienced Team";
---
<BaseLayout pageTitle = {pageTitle}, pageDescription = {pageDescription}, pageKeywords = {pageKeywords}>
<div class="flex bg-white">
    <div class="border-r border-gray-light border-solid w-12"></div>
        <div class="flex-1 flex-col items-center justify-center pb-16">
        <!-- blog archive-->
        <div class="md:w-2/5 mx-auto py-14">
			<h1 class="text-center uppercase">Case Studies</h1>
			<RedLine />
			<p class="text-center text-black">This is a small selection of tarmac projects that we have completed across domestic, commercial and public sector clients.</p>
		</div>
        <div class="w-full md:h-[47.75rem] bg-white grid md:grid-cols-4 md:grid-rows-4 grid-cols-2 grid-rows-6 gap-0.5 px-0.5">
            <div class="row-span-1 col-span-1 rounded-lg bg-[url('/case-studies/gallery/carehome-resin-bound-project-1.webp')] bg-no-repeat bg-cover"></div>
            <div class="row-span-1 col-span-1 rounded-lg bg-gray-dark p-4 text-white">
                <a href="/casestudies/resin-bound-project-hawkhurst">
                <h2 class="uppercase text-lg overflow-hidden whitespace-nowrap overflow-ellipsis text-white">commercial resin bound</h2>
                <RedLine />
                <span class="text-sm lg:text-[0.9rem] overflow-hidden max-h-[5em] line-clamp-3 text-white">We also offer Resin Bound surfacing, in this project we worked for a local care home.</span>
                <span class="float-right text-white bg-red hover:bg-black focus:ring-4 focus:outline-none focus:ring-red font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red dark:hover:bg-black dark:focus:ring-b ">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </span> 
                </a>
            </div>
            <div class="row-span-1 col-span-2 rounded-lg bg-[url('/case-studies/gallery/tarmac-driveway-8-min.webp')] bg-no-repeat bg-cover"></div>
            <div class="row-span-2 col-span-1 rounded-lg bg-gray-dark text-white p-4 lg:pt-52 md:pt-36">
                <a href="/casestudies/domestic-tarmac-driveway-2">
                <h2 class="uppercase text-lg text-white">Residential Driveway</h2>
                <RedLine />
                <span class="text-sm lg:text-[0.9rem] overflow-hidden max-h-[5em] line-clamp-3 text-white">This resurfacing project included a huge driveway and a foot path.</span>
                <span class="float-right text-white bg-red hover:bg-black focus:ring-4 focus:outline-none focus:ring-red font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red dark:hover:bg-black dark:focus:ring-b ">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </span>
                </a>
            </div>
            <div class="row-span-2 col-span-1 rounded-lg bg-[url('/case-studies/gallery/big-tarmac-driveway.webp')] bg-no-repeat bg-cover"></div>
            <div class="row-span-2 col-span-2 rounded-lg bg-[url('/case-studies/gallery/national-trust-tarmac-project-1.webp')] bg-no-repeat bg-cover text-white p-4 pt-52">
                <a href="/casestudies/national-trust-road-dover">
                <h2 class="uppercase text-lg text-white">The National Trust</h2>
                <RedLine />
                <span class="text-sm lg:text-[0.9rem] overflow-hidden max-h-[5em] line-clamp-3 text-white">We worked with the National Trust to resurface a road while doing our bit for the environment.</span>
                <span class="float-right text-white bg-red hover:bg-black focus:ring-4 focus:outline-none focus:ring-red font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red dark:hover:bg-black dark:focus:ring-b ">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </span>
                </a>
            </div>
            <div class="row-span-1 col-span-2 rounded-lg bg-[url('/case-studies/gallery/uni.webp')] bg-no-repeat"></div>
            <div class="row-span-1 col-span-1 rounded-lg bg-gray-dark p-4 text-white">
                <a href="/casestudies/public-sector-tarmac-project">
                <h2 class="uppercase text-lg overflow-hidden whitespace-nowrap overflow-ellipsis text-white">University of Kent</h2>
                <RedLine />
                <span class="text-sm lg:text-[0.9rem] overflow-hidden max-h-[5em] line-clamp-3 text-white">For 30 years we have worked with The University of Kent at both campuses.</span>
                <span class="float-right text-white bg-red hover:bg-black focus:ring-4 focus:outline-none focus:ring-red font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red dark:hover:bg-black dark:focus:ring-b ">
                    <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                </span>
                </a>
            </div>
            <!-- back button -->
            <div class="row-span-1 col-span-1 rounded-lg bg-red text-white p-4">
                <h3 class="uppercase lg:text-2xl text-xl font-bolder">Something about</h3>
                <h3 class="uppercase text-lg">tarmac</h3>
                <div class="flex flex-row justify-start min-h-min pt-2">
                    <a href="/tags" class="bg-black hover:bg-white hover:text-black text-white font-bolder lg:text-lg text-xs tracking-wide tracking-wide py-2 pl-4 pr-2 my-6 rounded-full flex items-center">
                        <span  class="">Blog Articles</span>
                        <span class="bg-red rounded-full p-2 ml-4 ">
                            <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
                  <!-- 2nd set of arhives -->
                  <div class="w-full md:h-[60rem] bg-white grid md:grid-cols-4 md:grid-rows-5 grid-cols-2 grid-rows-9 gap-0.5 px-0.5 pt-0.5">
                    <!-- 2x1 -->
                    <div class="row-span-2 col-span-1 rounded-lg bg-gray-dark text-white p-4 lg:pt-52 md:pt-36">
                        <a href="/casestudies/bupa-tarmac-project-kent">
                        <h2 class="uppercase text-lg text-white">Bupa Private Hospital</h2>
                        <RedLine />
                        <span class="text-sm lg:text-[0.9rem] overflow-hidden max-h-[5em] line-clamp-3 text-white">The works for this project involved the replacement of existing concrete slab footpaths.</span>
                        <span class="float-right text-white bg-red hover:bg-black focus:ring-4 focus:outline-none focus:ring-red font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red dark:hover:bg-black dark:focus:ring-b ">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </span>
                        </a>
                    </div>
                    <!-- 2x1 -->
                    <div class="row-span-2 col-span-1 rounded-lg bg-[url('/case-studies/gallery/bupa-tarmac-project-3.webp')] bg-no-repeat bg-cover bg-right"></div>
                    <!-- 1x2 -->
                    <div class="row-span-1 col-span-2 rounded-lg bg-[url('/case-studies/gallery/tarmac-driveway-3.webp')] bg-no-repeat bg-cover"></div>
                    <!-- 2x1 -->
                    <div class="row-span-2 col-span-1 rounded-lg bg-gray-dark p-4 text-white">
                        <a href="/casestudies/commercial-tarmac-contractor-kent">
                        <h2 class="uppercase text-lg overflow-hidden whitespace-nowrap overflow-ellipsis text-white">Leeds Castle</h2>
                        <RedLine />
                        <span class="text-sm lg:text-[0.9rem] overflow-hidden max-h-[5em] line-clamp-3 text-white">We have been a surfacing contractor at Leeds castle in Kent for the last 10 years.</span>
                        <span class="float-right text-white bg-red hover:bg-black focus:ring-4 focus:outline-none focus:ring-red font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red dark:hover:bg-black dark:focus:ring-b ">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </span>
                        </a>
                    </div>
                    <!-- 3x1 -->
                    <div class="md:row-span-3 row-span-2 col-span-1 rounded-lg bg-gray-dark text-white p-4 lg:pt-[25rem] md:pt-36">
                        <a href="/casestudies/tarmac-driveway-contractor">
                        <h2 class="uppercase text-lg text-white">road resurfacing</h2>
                        <RedLine />
                        <span class="text-sm lg:text-[0.9rem] overflow-hidden max-h-[5em] line-clamp-3 text-white">For 5 years we have been the designated contractors for the Bruderhof Community.</span>
                        <span class="float-right text-white bg-red hover:bg-black focus:ring-4 focus:outline-none focus:ring-red font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red dark:hover:bg-black dark:focus:ring-b ">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </span>
                        </a>
                    </div>
                    <!-- 1x1 -->
                    <div class="row-span-1 col-span-1 rounded-lg bg-[url('/case-studies/gallery/tarmac-drive-3.webp')] bg-no-repeat bg-cover"></div>
                    <!-- 1x1 -->
                    <div class="row-span-1 col-span-1 rounded-lg bg-gray-dark p-4 text-white">
                        <a href="/casestudies/domestic-tarmac-driveway-2">
                        <h2 class="uppercase text-lg overflow-hidden whitespace-nowrap overflow-ellipsis text-white">domestic driveway</h2>
                        <RedLine />
                        <span class="text-sm lg:text-[0.9rem] overflow-hidden max-h-[5em] line-clamp-3 text-white">Concrete Black Paviors were set to provide a decorative edge and wooden sleepers.</span>
                        <span class="float-right text-white bg-red hover:bg-black focus:ring-4 focus:outline-none focus:ring-red font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red dark:hover:bg-black dark:focus:ring-b ">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </span> 
                        </a>
                    </div>
                    <!-- 1x3 -->
                    <div class="bg-gray-dark row-span-1 md:col-span-3 col-span-2 rounded-lg bg-[url('/case-studies/gallery/tarmac-road-4.webp')] bg-no-repeat "></div>
                    <!-- 2x1 -->
                    <div class="row-span-1 col-span-2 rounded-lg bg-gray-dark p-4">
                        <a href="/casestudies/national-trust-road-dover">
                            <h2 class="uppercase text-lg text-white">Residential Driveway</h2>
                            <RedLine />
                            <span class="text-sm lg:text-[0.9rem] overflow-hidden max-h-[5em] line-clamp-3 text-white">This project involved the excavation and removal of an existing concrete driveway and replaced with new tarmac surface.</span>
                            <span class="float-right text-white bg-red hover:bg-black focus:ring-4 focus:outline-none focus:ring-red font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red dark:hover:bg-black dark:focus:ring-b ">
                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                </svg>
                            </span>
                            </a>
                    </div>
                    <!-- 2x1 -->
                    <div class="row-span-1 col-span-2 rounded-lg bg-[url('/case-studies/gallery/tarmac-driveway-3.webp')] bg-no-repeat bg-cover"></div>
                </div>        
    </div>
    <div class="border-l border-gray-light border-solid w-12"></div>
</div>
<Clients />
<EstimateForm class="bg-white relative pt-20 overflow-hidden"/>
</BaseLayout>