---
import RedLine from '../components/RedLine.astro';
---
<!-- blog archive-->
<div class="w-full md:h-[47.75rem] bg-white grid md:grid-cols-4 md:grid-rows-4 grid-cols-2 grid-rows-6 gap-0.5 px-0.5" data-at-snap>
    <div class="row-span-1 col-span-1 rounded-lg bg-[url('/tarmac-car-park.webp')] bg-no-repeat"></div>
    <div class="row-span-1 col-span-1 rounded-lg bg-gray-dark p-4 text-white">
        <a href="/posts/does-a-tarmac-driveway-add-value-to-my-property">
        <h2 class="uppercase text-lg overflow-hidden whitespace-nowrap overflow-ellipsis text-white">Tarmac driveway addition</h2>
        <RedLine />
        <span class="text-sm lg:text-[0.9rem] overflow-hidden max-h-[5em] line-clamp-3 pb-2 text-white">Does a tarmac driveway add value to my property?</span>
        <button type="button" class="float-right text-white bg-red hover:bg-black focus:ring-4 focus:outline-none focus:ring-red font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red dark:hover:bg-black dark:focus:ring-b ">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </button>  
        </a>
    </div>
    <div class="row-span-1 col-span-2 rounded-lg bg-[url('/tarmac-digger.webp')] bg-no-repeat"></div>
    <div class="row-span-2 col-span-1 rounded-lg bg-gray-dark text-white p-4 lg:pt-56 md:pt-36">
        <a href="/posts/driveway-gates">
        <h2 class="uppercase text-lg text-white">Driveway Gates</h2>
        <RedLine />
        <span class="text-sm lg:text-[0.9rem] overflow-hidden max-h-[5em] line-clamp-3 pb-2 text-white">Driveways, like all personal property, need to be protected.</span>
        <button type="button" class="  float-right text-white bg-red hover:bg-black focus:ring-4 focus:outline-none focus:ring-red font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red dark:hover:bg-black dark:focus:ring-b ">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </button>
        </a>  
    </div>
    <div class="row-span-2 col-span-1 rounded-lg bg-[url('/case-studies/gallery/driveway-gates-1.webp')] bg-no-repeat"></div>
    <div class="row-span-2 col-span-2 rounded-lg bg-[url('/housing-development-road-contractor.webp')] bg-no-repeat text-white p-4 pt-56">
        <a href="/posts/how-much-does-a-driveway-cost">
        <h2 class="uppercase text-lg text-white">How much does a driveway cost?</h2>
        <RedLine />
        <span class="text-white text-sm lg:text-[0.9rem] overflow-hidden max-h-[5em] line-clamp-3 pb-2">When you are considering getting a driveway, one thing you have to think about is the cost.</span>
        <button type="button" class=" float-right text-white bg-red hover:bg-black focus:ring-4 focus:outline-none focus:ring-red font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red dark:hover:bg-black dark:focus:ring-b ">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </button>  
        </a>
    </div>
    <div class="row-span-1 col-span-2 rounded-lg bg-[url('/ground-works.webp')] bg-no-repeat"></div>
    <div class="row-span-1 col-span-1 rounded-lg bg-gray-dark p-4 text-white">
        <a href="/posts/driveway-maintenance">
        <h2 class="text-white uppercase text-lg overflow-hidden whitespace-nowrap overflow-ellipsis">Driveway Maintenance</h2>
        <RedLine />
        <span class="text-sm lg:text-[0.9rem] text-white overflow-hidden max-h-[5em] line-clamp-3 pb-2">The first step to avoid major driveway repair is to keep cracks small once they appear.</span>
        <button type="button" class=" float-right text-white bg-red hover:bg-black focus:ring-4 focus:outline-none focus:ring-red font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red dark:hover:bg-black dark:focus:ring-b ">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </button>  
        </a>
    </div>
    <!-- back button -->
    <div class="row-span-1 col-span-1 rounded-lg bg-red text-white p-4">
        <h3 class="uppercase lg:text-2xl text-xl font-bolder">case studies</h3>
        <h3 class="uppercase lg:text-lg text-sm">40 years of tarmac</h3>
        <div class="flex flex-row justify-end min-h-min pt-2">
            <a href="/tarmac-case-study-archive" class="bg-black hover:bg-gray text-white font-bolder lg:text-lg text-xs tracking-wide uppercase tracking-wide py-2 pl-4 pr-2 my-6 rounded-full flex items-center">
                <span  class="text-white hover:text-white">Case studies</span>
                <span class="bg-red rounded-full p-2 ml-4 ">
                    <svg class="text-white font-400 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</div>

