<div class="flex bg-black">
    <div class="bg-black w-12 border-r border-gray-dark border-solid"></div>
    <div class="flex justify-evenly py-8">
        <img src="/lc.svg"  class="md:w-[6rem] md:h-[6rem] w-[3rem] h-[3rem]" alt="">
        <img src="/abc.svg" class="md:w-[6rem] md:h-[6rem] w-[3rem] h-[3rem]" alt="">
        <img src="/nt.svg"  class="md:w-[6rem] md:h-[6rem] w-[3rem] h-[3rem]" alt="">
        <img src="/ukc.svg" class="md:w-[6rem] md:h-[6rem] w-[3rem] h-[3rem]"alt="">
        <img src="/ekc.svg" class="md:w-[6rem] md:h-[6rem] w-[3rem] h-[3rem]" alt="">
    </div>
    <div class="bg-black w-12 border-l border-gray-dark border-solid">
        <div class="flex flex-col items-center">
            <p class="v-copy3">clients</p>
        </div>
    </div>
</div>