<div class="flex bg-black">
    <div class="bg-black flex items-center justify-center w-14 border-r border-gray-dark border-solid"></div>
    <div class="flex-grow">
        <div class="flex justify-evenly py-12">
            <img src="lc.svg" class="w-[6rem] h-auto" alt="">
            <img src="abc.svg" class="w-[6rem] h-auto" alt="">
            <img src="nt.svg" class="w-[6rem] h-auto" alt="">
            <img src="ukc.svg" class="w-[6rem] h-auto"alt="">
            <img src="ekc.svg" class="w-[6rem] h-auto" alt="">
        </div>
    </div>
    <div class="bg-black flex items-center justify-center w-14 border-l border-gray-dark border-solid">
        <div class="flex flex-col items-start justify-center items-center">
            <p class="v-copy3">clients</p>
        </div>
    </div>
</div>
<!--
This code is for each section structure, it's here so i have a saved copy

<div class="flex bg-white h-full">
    <div class="bg-white flex items-center justify-center w-12 h-14 border-r border-gray-light border-solid">
        <div class="flex flex-col items-start justify-center items-center">
            <p class="v-copy2 pb-2">left side</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
            </svg>
        </div>
    </div>
    <div class="flex-grow flex items-center justify-center h-14">
      Main copy
    </div>
    <div class="bg-white flex items-center justify-center w-12 h-14 border-l border-gray-light border-solid">
        <div class="flex flex-col items-start justify-center items-center">
            <p class="v-copy2 pb-2">right side</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
            </svg>
        </div>
    </div>
</div>

-->