---

---
<style>
  svg {width:60%; height:60%;}
</style>
<div class="flex bg-black">
  <div class="bg-black flex flex-none items-center justify-center w-12 border-r border-gray-dark border-solid"></div>
  <div class="w-full flex justify-evenly py-8 items-center" style="fill:#e0e0e0">
    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128"><use xlink:href="/clients.svg#abc" /></svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128"><use xlink:href="/clients.svg#ekc" /></svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128"><use xlink:href="/clients.svg#lc" /></svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128"><use xlink:href="/clients.svg#nt" /></svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128"><use xlink:href="/clients.svg#uk" /></svg>
  </div>
  <div class="bg-black flex flex-none items-center justify-center w-12 border-l border-gray-dark border-solid">
      <div class="flex flex-col items-start justify-center items-center">
          <p class="v-copy3">clients</p>
      </div>
  </div>
</div>
