<div class="flex bg-black">
  <div class="bg-black flex flex-none items-center justify-center w-12 border-r border-gray-dark border-solid"></div>
  <div class="w-full flex justify-evenly py-8">
      <img src="/lc.svg"  class="md:w-[6rem] md:h-[6rem] w-[3rem] h-[3rem]" alt="Leeds Castle">
      <img src="/abc.svg" class="md:w-[6rem] md:h-[6rem] w-[3rem] h-[3rem]" alt="Ashford Borough Council">
      <img src="/nt.svg"  class="md:w-[6rem] md:h-[6rem] w-[3rem] h-[3rem]" alt="National Trust">
      <img src="/ukc.svg" class="md:w-[6rem] md:h-[6rem] w-[3rem] h-[3rem]"alt="University of Kent">
      <img src="/ekc.svg" class="md:w-[6rem] md:h-[6rem] w-[3rem] h-[3rem]" alt="East Kent College">
  </div>
  <div class="bg-black flex flex-none items-center justify-center w-12 border-l border-gray-dark border-solid">
      <div class="flex flex-col items-start justify-center items-center">
          <p class="v-copy3">clients</p>
      </div>
  </div>
</div>
