<div class="flex justify-between bg-[var(--b)] w-100 p-12">
    <img src="lc.svg" class="w-16 h-auto" alt="">
    <img src="abc.svg" class="w-16 h-auto" alt="">
    <img src="nt.svg" class="w-16 h-auto" alt="">
    <img src="ukc.svg" class="w-16 h-auto"alt="">
    <img src="ekc.svg" class="w-16 h-auto" alt="">
    <p class="v-copy text-white">clients</p>
</div>
<p class="next-page text-white">services ---></p>