---
import GetEstimateBtn from '../components/GetEstimateBtn.astro';
import RedLine from '../components/RedLine.astro';

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const name = data.get("username");
    const email = data.get("email");
    const password = data.get("password");
    // Do something with the data
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<div class="flex flex-col items-start justify-center items-center pb-4 pt-12">
    <p class="v-copy2">get estimate</p>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red mt-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
    </svg>
</div>
<div class="card rounded-lg md:mx-auto text-center lg:w-1/2 p-12 mb-12 shadow-est">
    <div class="at-bg">
        <h2 class="font-bold text-xs text-gray md:text-lg uppercase text-gray pt-12 ">send tarmac estimate in under 30 seconds!</h2>
        <h1 class="text-xl font-black md:text-3xl text-white">Rapid Tarmac Estimate</h1>
    <div class="flex items-center justify-center pt-12">
        <img src="/estimate-numbers.svg" alt="3 steps tarmac estimate process"/>
    </div>
    <form method="POST">
        <div class="pt-12">
            <label>
                <input class="w-72 h-12 border border-gray bg-gray-dark rounded-xl p-4 text-base text-gray font-bold text-xl" type="text" name="username" required />
            </label>
        </div>
        <div class="flex justify-center">
            <button><GetEstimateBtn /></button>
        </div>
    </form>
    </div>
    <div class="blob"></div>
</div> 