---
import GetEstimateBtn from '../components/GetEstimateBtn.astro';
---
<script>
    import {initGetEstimate} from '../scripts/form-estimate'
    initGetEstimate('.at-steps', (root) => {
        const {success, message} = root.result
        root.btn.firstElementChild.textContent = success ? 'Thank You' : 'Try Again';
        (document.querySelector('.at-form-message') ?? {textContent: ''}).textContent = message
    })
</script>
<!-- rotated red text -->
<div class="flex flex-col items-start justify-center items-center pb-8">
    <p class="v-copy2 pr-12">get estimate</p>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
    </svg>
</div>
<!-- estimate box -->
<div class="relative overflow-hidden rounded-lg z-20 mx-auto text-center w-full lg:w-1/2 py-1 pl-1 mb-12 shadow-est">
    <div class="at-bg relative z-10 overflow-hidden bg-gray-dark rounded-lg pb-8">
        <h2 class="font-bold text-xs text-gray md:text-lg uppercase text-gray pt-12 ">send tarmac estimate in under 30 seconds!</h2>
        <h1 class="text-xl font-black md:text-3xl text-white">Rapid Tarmac Estimate</h1>
        <form name="estimate" method="POST" autocomplete="off">
            <div class="pt-12 at-steps">
                <nav>
                    <span class="at-active">1</span><hr /><span>2</span><hr /><span>3</span>
                </nav>
                <div class="at-step at-step-active pt-12" data-button-text="Next">
                    <div class="relative">
                        <select class="w-72 h-14 border border-gray bg-gray-dark rounded-xl pl-4 text-base text-white font-bold appearance-none" name="client" required>
                          <option value="Domestic">Domestic</option>
                          <option value="Commercial">Commercial</option>
                          <option value="Public Sector">Public Sector</option>
                        </select>
                        <div class="absolute inset-y-0 right-32 flex items-center justify-center px-4 pointer-events-none">
                          <svg class="w-10 h-10 fill-current text-red" viewBox="0 0 20 20">
                            <path d="M10 12l-6-6h12l-6 6z" />
                          </svg>
                        </div>
                    </div>
                </div>
                <div class="at-step" data-button-text="Next">
                    <div class="pt-2">
                        <label>
                            <input class="w-72 h-14 border border-gray bg-gray-dark rounded-lg p-4 text-base text-white font-bold focus:border-red focus:border-2 focus:outline-none" type="text" name="name" placeholder="Name" required />
                        </label>
                    </div>
                    <div class="pt-2">
                        <label>
                            <input class="w-72 h-14 border border-gray bg-gray-dark rounded-lg p-4 text-base text-white font-bold focus:border-red focus:border-2 focus:outline-none" type="tel" name="tel" placeholder="Telephone" required />
                        </label>
                    </div>
                    <div class="pt-2">
                        <label>
                            <input class="w-72 h-14 border border-gray bg-gray-dark rounded-lg p-4 text-base text-white font-bold focus:border-red focus:border-2 focus:outline-none" type="email" name="email" placeholder="E-mail address" required />
                        </label>
                    </div>
                </div>
                <div class="at-step" data-button-text="Get a Tarmac Estimate" data-form-submit="true">
                    <div class="">
                        <label>
                            <textarea class="w-72 h-36 border border-gray bg-gray-dark rounded-lg p-4 text-base text-white font-bold focus:border-red focus:border-2 focus:outline-none" name="notes" required placeholder="Additional information"></textarea>
                        </label>
                    </div>
                    <div class="pt-2">
                        <label>
                            <input class="w-72 h-14 border border-gray bg-gray-dark rounded-lg p-4 mb-3 text-base text-white font-bold focus:border-red focus:border-2 focus:outline-none" type="file" name="attachment" />
                        </label>
                    </div>
                </div>
                <div class="at-step" data-button-text="Please wait">
                    <div class="text-white">
                        <img class="mx-auto rounded-xl border border-gray mb-2" src="/loading.gif" alt="Sending a tarmac estimate" />
                        <p>Uploading please wait...</p>
                    </div>
                </div>
                <div class="at-step">
                    <div class="text-white">
                        <p class="at-form-message"></p>
                    </div>
                </div>
                <div class="flex justify-center">
                    <GetEstimateBtn text="Next"/>
                </div>
            </div>
        </form>
    </div>
    <div class="blob"></div>
</div>
