---
import PreFooter from "./PreFooter.astro";
import GetEstimateBtn from '../components/GetEstimateBtn.astro';
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const currentYear = new Date().getFullYear();
---
<PreFooter></PreFooter>
<footer>
<div class="flex bg-gradient-to-b from-gray to-gray-dark h-full">
  <div class="bg-gradient-to-b from-gray to-gray-dark flex items-center justify-center w-12"></div>
  <div class="flex-1 flex-col">
    <div class="w-full block"><svg class="mx-auto w-20 h-20 mb-6" width="228" height="210"><use xlink:href="/ashford-tarmac-logo.svg#sr" /></svg></div>
    <div class="md:grid md:grid-cols-4 text-white">
      <div class="grid-col-1">
        <h6 class="py-4">Article Tags</h6>
        <div class="text-white flex flex-wrap pr-8">
            {tags.map((tag) => (
            <div class="bg-black rounded grow-0 px-2 m-1 hover:bg-red">
            <a class="text-white hover:text-white uppercase text-xs tracking-[0.07rem] font-bold align-text-top" href={`/tags/${tag}`}>{tag}</a>
            </div>
            ))}
        </div>
      </div>
      <div class="grid-col-1">
        <div class="text-sm">
          <h6 class="md:pb-4 py-4">Tarmac Articles</h6>
          <span><a href="/posts/how-much-does-a-driveway-cost" class="text-white">Driveway Costs</a></span><br />
          <span><a href="/posts/driveway-gates" class="text-white">Gates for driveways</a></span><br />
          <span><a href="/posts/driveway-maintenance" class="text-white">Maintaining your driveway</a></span>
        </div>
      </div>
      <div class="grid-col-1">
        <div class="text-sm">
          <h6 class="md:pb-4 py-4">Contact Details</h6>
          <span class="pb-2">Mon-Fri 8am to 5pm</span>
          <span class="pb-2">Phone: 01233 733735<br />Fax: 01233 732319</span>
          <span class="pb-2">Ashford Tarmacadam <br />Contractors Ltd<br />Goodwin Capel Road<br />Ruckinge Near Ashford<br />Kent TN26 2EJ</span>
        </div>
    </div>
      <div class="grid-col-1">
        <div class="py-4">
          <GetEstimateBtn />
        </div>
      </div>
    </div>
    <div class="border-b border-red border-solid w-full pt-12"></div>
  </div>
  <div class="bg-gradient-to-b from-gray to-gray-dark flex items-center justify-center w-14">
      <div class="flex flex-col items-start justify-center items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75 12 3m0 0 3.75 3.75M12 3v18" />
          </svg>
          <a href="#home" class="v-copy pb-2 text-white">back to top</a>
      </div>
  </div>
</div>
<div class="flex bg-gray-dark h-full">
    <div class="bg-gray-dark flex items-center justify-center w-14">
        <div class="flex flex-col items-start justify-center items-center">

        </div>
    </div>
    <div class="flex-grow flex justify-between h-14">
      <div class="flex-items"><span class="text-xs text-white">Copyright © {currentYear}</span></div>
      <div class="flex-items"><a href="https://quadtechnology.co.uk" class="text-xs text-white hover:text-red pr-4">Website by QUAD WEB</a></div>
    </div>
    <div class="bg-gray-dark flex items-center justify-center w-12">
        <div class="flex flex-col items-start justify-center items-center"></div>
    </div>
</div>
</footer>
