<!-- gallery section -->
<div Class="grid grid-cols-4 grid-row-4 bg-white pt-20">
    <div Class="col-span-1 row-span-1 bg-[url('/hero.webp')] bg-no-repeat rounded-lg min-h-48">01</div>
    <div Class="col-span-1 row-span-1 bg-[url('/hero.webp')] bg-no-repeat rounded-lg min-h-48">02</div>
    <div Class="col-span-2 row-span-1 bg-[url('/hero.webp')] bg-no-repeat rounded-lg min-h-48">03</div>

    <div Class="col-span-2 row-span-2 bg-[url('/hero.webp')] bg-no-repeat rounded-lg min-h-96">04</div>
    <div Class="col-span-1 row-span-2 bg-[url('/hero.webp')] bg-no-repeat rounded-lg min-h-96">05</div>
    <div Class="col-span-1 row-span-2 bg-[url('/hero.webp')] bg-no-repeat rounded-lg min-h-96">06</div>

    <div Class="col-span-1 row-span-1 bg-[url('/hero.webp')] bg-no-repeat rounded-lg min-h-48">08</div>
    <div Class="col-span-2 row-span-1 bg-[url('/hero.webp')] bg-no-repeat rounded-lg min-h-48">07</div>
    <div Class="col-span-1 row-span-1 bg-[url('/hero.webp')] bg-no-repeat rounded-lg min-h-48">10</div>    
</div>  