---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import Logo from './Logo.astro';
import Burger from './Burger.astro';
---

<header class="py-4 bg-black">
    <nav>
        <Logo />
        <Hamburger />
        <Navigation />
        <Burger />
    </nav>
</header>