---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
import Logo from './Logo.astro';
import Burger from './Burger.astro';
---

<header>
    <nav>
        <Logo />
        <ThemeIcon />
        <Hamburger />
        <Navigation />
        <Burger />
    </nav>
</header>