<div class="nav-links" transition:animate="slide">
    <a href="/">Home</a>
    <a href="/domestic-tarmac-contractor/">Domestic</a>
    <a href="/commercial-tarmac-contractor/">Commercial</a>
    <a href="/public-sector-tarmac-contractor/">Public Sector</a>
    <a href="/tags/">Tags</a>
    <a href="/tarmac-case-studies/">CS</a>
    <a href="/tarmac-case-study-archive">CSA</a>
    <a href="/about/">About</a>
</div>