---
import Logo from "./Logo.astro"
---
<style>
  #main-nav a {
    position: relative;
    transition: color 0.25s;
  }

  #main-nav a::before {
    color:white;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.02, -2, 0.08, 2);
    opacity: 0;
    content: ' ';
    position:absolute;
    left:50%;
    bottom:-0.2rem;
    width:0;
    height:1px;
    border-bottom:1px solid var(--r);
  }

  #main-nav a:hover::before {
    left:0;
    width:100%;
    opacity: 1;
  }

  a.at-active {
    color: var(--r);
  }

@media screen and (max-width:1023px) {
  #main-nav a::before { 
    bottom:0;
  }
}
</style>
<script>
  document.querySelector(`#main-nav > div > div > a[href="${location.pathname}"]`)?.classList.add('at-active');
</script>
<nav class="block py-4 w-full z-[999] bg-[rgba(0,0,0,0.9)] lg:bg-transparent relative">
  <div class="block absolute top-0 px-2 pt-6 lg:hidden">
    <a class="flex items-center px-2 py-2 border rounded text-white border-white hover:text-red hover:border-red" href="#main-nav">
      <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </a>
  </div>
  {/*}<div class="absolute w-full h-[1px] bg-[rgba(255,255,0,0.5)] top-[3.45rem]"></div>*/}
  <div class="w-full h-[4.125rem] text-center z-[-1]"><a href="/" class="h-full"><img id="nav-home" class="inline-block h-full p-2 align-middle box-border z-[100] relative" src="/ashford-tarmac-logo-dark.svg" alt="The best Tarmac Contractor in Kent" /></a></div>
  <div id="main-nav" class="absolute w-full h-0 focus:h-[100vh] has-[a:focus]:h-full lg:h-[1rem] lg:focus:h-[1rem] lg:has-[a:focus]:h-[1rem] left-0 top-0 lg:top-[3.125rem] px-4 lg:px-0 transition-all duration-500 box-border block overflow-hidden lg:overflow-visible flex-grow bg-[rgba(0,0,0,0.95)] lg:bg-transparent z-50 lg:flex text-[0.9rem] tracking-wider text-justify" tabindex="0">
    <button class="block relative w-8 h-8 border-none bg-none p-2 text-white lg:hidden ml-auto mr-0">X</button>
    <div class="pt-16 px-16 lg:pt-0 lg:px-0 lg:flex lg:flex-grow lg:w-full lg:whitespace-nowrap lg:items-center lg:justify-between leading-8 lg:leading-normal">
      <div class="lg:flex lg:flex-1 lg:justify-start lg:gap-2 lg:max-w-[calc(50%_-_6rem)] lg:relative">
        <a class="block w-full lg:w-auto lg:inline-block lg:mt-0 text-white hover:text-gray uppercase text-3xl font-bolder lg:text-base" href="/">Home</a>
        <a class="block w-full lg:w-auto lg:inline-block lg:mt-0 text-white hover:text-gray uppercase text-3xl font-bolder lg:text-base" href="/domestic-tarmac-contractor/">Domestic</a>
        <a class="block w-full lg:w-auto lg:inline-block lg:mt-0 text-white hover:text-gray uppercase text-3xl font-bolder lg:text-base" href="/commercial-tarmac-contractor/">Commercial</a>
        <a class="block w-full lg:w-auto lg:inline-block lg:mt-0 text-white hover:text-gray uppercase text-3xl font-bolder lg:text-base" href="/public-sector-tarmac-contractor/">Public Sector</a>
      </div>
      <div class="lg:flex lg:flex-none lg:justify-end lg:gap-2 lg:w-[calc(50%_-_6rem)]">
        <a class="block w-full lg:w-auto lg:inline-block lg:mt-0 text-white hover:text-gray uppercase text-3xl font-bolder lg:text-base" href="/tags/">Blogs</a>
        <a class="block w-full lg:w-auto lg:inline-block lg:mt-0 text-white hover:text-gray uppercase text-3xl font-bolder lg:text-base" href="/tarmac-case-study-archive">Case Studies</a>
        <a class="block w-full lg:w-auto lg:inline-block lg:mt-0 text-white hover:text-gray uppercase text-3xl font-bolder lg:text-base" href="/about/">About</a>
        <a class="block w-full lg:w-auto lg:inline-block lg:mt-0 text-white hover:text-gray uppercase text-3xl font-bolder lg:text-base" href="/contact/">Contact</a>
      </div>
    </div>
  </div>
</nav>
