<div class="flex flex-col h-screen bg-white bg-[url('/prefooterbackground.svg')] bg-no-repeat bg-bottom pl-12 pt-10">
  <div class="flex flex-row">
    <div class="w-3/5">
      <div class="flex flex-col justify-start">
        <div class="min-w-0"><h2 class="text-red">Customer satisfaction is out highest priority</h2></div>
        <div class="min-w-0 pb-10"><h4>Get In touch today and speak with our experts.</h4></div>
        <div class="flex flex-row gap-8 items-end min-h-60" >
          <div class="w-1/3 border-red border-r flex flex-col items-center pt-24">
            <span class="text-7xl mx-auto text-dark-gray font-medium pb-4">100%</span>
            Client Satisfaction
          </div>        
          <div class="w-1/3 border-red border-r flex flex-col items-center pt-24">
            <span class="text-7xl mx-auto text-dark-gray font-medium">30</span><span class="v-copy-sup">years</span>
            Experienced Team
          </div>
          <div class="w-1/3 flex flex-col items-center">
            <span class="text-7xl text-dark-gray font-medium">45</span><span class="v-copy-sup">years</span>
            Family run business
          </div>
        </div>
      </div>
    </div>
    <div class="w-2/5 text-white pr-12">
      <div class="flex flex-row gap-x-4">
        <div class="w-1/2 space-y-4 pt-20">
          <div class="bg-gray rounded-lg p-4 pb-10">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
            </svg>      
            <p class="pt-8 pb-0 text-3xl font-bold text-white">One Click</p>
            <p class="text-sm uppercase font-bold pb-8 text-white">Call Now</p>
            Let's chat...                
            <button type="button" class="float-right text-white bg-black hover:bg-red focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-black dark:hover:bg-red-600 dark:focus:ring-black">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
              <span class="sr-only">Icon description</span>
              </button>  
          </div>
          <div class="bg-black rounded-lg p-4 pb-10">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
            </svg>   
            <p class="pt-8 pb-0 text-3xl font-bold text-white">Reviews</p>
            <p class="text-sm uppercase font-bold pb-8 text-white">Leeds Castle</p>
            "Many thanks for such an excellent job. I have no hesitation in recommending you to anyone who asks"          
            <button type="button" class="float-right text-white bg-black hover:bg-red focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-black dark:hover:bg-red-600 dark:focus:ring-black">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
              <span class="sr-only">Icon description</span>
              </button>           
          </div>
        </div>
        <div class="w-1/2 space-y-4 pt-10">
          <div class="bg-red rounded-lg p-4 pb-10">
            <svg class="w-14 h-14" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6l4 2"/>
            </svg>        
            <p class="pt-8 pb-0 text-3xl font-bold text-white">Callback</p>
            <p class="text-sm uppercase font-bold pb-8 text-white">Schedule</p>
            [form]             
            <button type="button" class="float-right text-white bg-black hover:bg-red focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-black dark:hover:bg-red-600 dark:focus:ring-black">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
              <span class="sr-only">Icon description</span>
              </button>  
          </div>
          <div class="bg-gray-dark rounded-lg p-4 pb-10">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
              <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
            </svg>        
            <p class="pt-8 pb-0 text-3xl font-bold text-white">Email Us</p>
            <p class="text-sm uppercase font-bold pb-8 text-white">"Write Now" ;)</p>
            Send your info          
            <button type="button" class="float-right text-white bg-black hover:bg-red focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-black dark:hover:bg-red-600 dark:focus:ring-black">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
              <span class="sr-only">Icon description</span>
              </button>                             
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>