<div class="h-full flex bg-white bg-[url('/prefooterbackground.svg')] bg-no-repeat bg-bottom">
  <!-- Left gutter -->
  <div class="w-12 border-r border-gray-light border-solid"></div>
    <div class="flex-1 pt-14">
    <!-- Middle -->
      <div class="grid grid-cols-5 gap-16">
        <div class="col-span-3">
          <div class="grid grid-rows-2">
            <div class="row-span-1 pb-12">
              <h2 class="text-lg uppercase text-red pl-1">Customer satisfaction is out highest priority</h2>
              <h4 class="text-6xl">Get In touch today and speak with our experts.</h4>
            </div>
            <div class="row-span-1 grid grid-cols-3">
              <div class="col-span-1 border-red border-r flex items-end justify-center">
                <div class="pt-24">
                  <span class="text-6xl mx-auto text-dark-gray font-medium pb-4">100%</span>
                  <p class="whitespace-nowrap pl-4 pt-6">Client Satisfaction</p>
                </div>
              </div>
              <div class="col-span-1 border-red border-r flex items-end justify-center">
                <div class="pt-24">
                  <span class="text-6xl mx-auto text-dark-gray font-medium pl-6">30</span><span class="v-copy">years</span>
                  <p class="whitespace-nowrap pt-6">Experienced Team</p>
                </div>
              </div>
              <div class="col-span-1 flex items-end justify-center">
                <div class="pt-24">
                  <span class="text-6xl text-dark-gray font-medium pl-6">45</span><span class="v-copy">years</span>
                  <p class="whitespace-nowrap pt-6">Family run business</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 2 columns on the right -->
        <div class="col-span-2 pt-8">
          <div class="grid grid-cols-2 gap-4">
            <div class="col-span-1 pt-12">
            <!-- content -->
              <div class="bg-gray rounded-lg p-4 pb-10 mb-4 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                </svg>      
                <p class="text-3xl pt-8 pb-0 font-bold text-white">One Click</p>
                <p class="text-sm uppercase font-bold pb-8 text-white">Call Now</p>
                Let's chat...                
                <button type="button" class="float-right text-white bg-black hover:bg-red focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-black dark:hover:bg-red-600 dark:focus:ring-black">
                  <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
                  <span class="sr-only">Icon description</span>
                  </button>  
              </div>
              <div class="bg-black rounded-lg p-4 pb-10 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                </svg>   
                <p class="pt-8 pb-0 text-3xl font-bold text-white">Reviews</p>
                <p class="text-sm uppercase font-bold pb-8 text-white">Leeds Castle</p>
                "Many thanks for such an excellent job. I have no hesitation in recommending you to anyone who asks"          
                <button type="button" class="float-right text-white bg-black hover:bg-red focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-black dark:hover:bg-red-600 dark:focus:ring-black">
                  <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
                  <span class="sr-only">Icon description</span>
                  </button>           
              </div>
            </div>
            <div class="col-span-1">
              <div class="bg-red rounded-lg p-4 pb-10 mb-4 text-white">
                <svg class="w-14 h-14" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6l4 2"/>
                </svg>        
                <p class="pt-8 pb-0 text-3xl font-bold text-white">Callback</p>
                <p class="text-sm uppercase font-bold pb-8 text-white">Schedule</p>
                [form]             
                <button type="button" class="float-right text-white bg-black hover:bg-red focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-black dark:hover:bg-red-600 dark:focus:ring-black">
                  <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
                  <span class="sr-only">Icon description</span>
                  </button>  
              </div>
              <div class="bg-gray-dark rounded-lg p-4 pb-10 mb-4 text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 0 1 .865-.501 48.172 48.172 0 0 0 3.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
                </svg>        
                <p class="pt-8 pb-0 text-3xl font-bold text-white">Email Us</p>
                <p class="text-sm uppercase font-bold pb-8 text-white">"Write Now" ;)</p>
                Send your info          
                <button type="button" class="float-right text-white bg-black hover:bg-red focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-black dark:hover:bg-red-600 dark:focus:ring-black">
                  <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                  </svg>
                  <span class="sr-only">Icon description</span>
                  </button>                             
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- right gutter -->
  <div class="w-12 border-l border-gray-light border-solid"></div>
</div>

