---
const {title, items} = Astro.props
---
<script>
import {process_section} from '../scripts/animation'
process_section('[data-at-pin]')
</script>
<div class="h-[100vh] bg-black flex flex-row relative min-h-0 overflow-hidden" data-at-pin>
    <div class="border-r border-gray-dark border-solid w-12 flex-none"></div>
    <div class="flex flex-col flex-[1_1_0] relative min-w-0 min-h-0 h-[100vh] overflow-hidden">
        <div class="flex flex-col flex-none justify-center items-center lg:mb-[-8rem] pb-8">
            <p class="v-copy2 mt-16">the process</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red mt-12">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25 12 21m0 0-3.75-3.75M12 21V3" />
            </svg>
        </div>
        <div class="flex flex-row lg:flex-col flex-1 overflow-hidden min-w-0" data-at-pin-content>
            <slot />
        </div>
    </div>
    <div class="border-l border-gray-dark border-solid w-12 flex-none"></div>
</div>
