---
import { mergeSlots } from "astro/compiler-runtime"
import RedLine from "./RedLine.astro"
const {title} = Astro.props
---
<style>
@media picnmix and (min-width: 1024px) {
    [data-at-sp-root]:nth-child(1n + 2) { transform: translatey(100vh); }
}
/*
[data-at-sp-root] {
    position:relative;
    top:-50%;
}
[data-at-sp-txt]:nth-child(1)::after {
    content: ' ';
    position:absolute;
    width:calc(min(100vw, 1200px) - 6rem);
    height:100vh;
    background:red;
    left:0;
    bottom:-100vh;
    z-index: 2;
    background: linear-gradient(transparent, black 25%);
}
*/
</style>
<div class="col-[1]" data-at-sp-txt>
    <h3 class="md:text-3xl text-xl font-bold">{title}</h3>
    <RedLine />
    <div class="md:text-base text-sm"><slot name="content"/></div>
</div>
